[2018-01-08 16:06] abidibo opened #1 "it locales not included in setup installation"
Add

    recursive-include baton/locale *

to the `MANIFEST.in` file

[2018-01-09 11:14] abidibo opened #2 "admin does not preserve global added actions"
For example, the action defined by the django-export-action app is not preserved:

https://github.com/fgmacedo/django-export-action/blob/develop/export_action/admin.py

[2018-01-09 11:26] #1 closed

[2018-01-09 11:26] #2 closed

[2018-02-17 18:34] cazgp opened #3 "Multiple inlines on same tab"
Thanks for this awesome module.

Is there a way to put multiple inlines in the same tab?

To work around the limitation in the admin whereby you can't have readonly fields on an inline when you also want to create inlines, I need two inlines pointing to the same model: one to display existing values, and the other to add new ones. It would be great if these could appear on the same tab. Any ideas?

[2018-02-19 14:49] abidibo commented on #3
I'm not sure I understood exactly the point here. How can you (without js hacking) avoid the second inline to make fields editable?

Anyway, this is something you can do with custom js. I haven't added support for a js callback when Baton app is ready, and I think I will not add it now, this seems to be a too more particular necessity, which maybe can be addressed in other ways, writing custom vie

[2018-02-20 16:13] cazgp commented on #3
Thanks for the tip and speedy reply!

So I've realised that I actually have quite a lot of use-cases for functionality like this. For example, there is a Person who has "Next of Kin", where the next of kin can have multiple contact details. The person themselves can also have multiple contact details.

In addition to just the address and phone number on the Person, a start date and end date is nee

[2018-02-20 16:40] abidibo commented on #3
Ok, I see,
I'll think about it, at this moment tabs do not support a sort of grouping, there is no super-structure which can allow for grouping fieldsets or inlines, but I'll think about it in the next days. Maybe I can add this feature, stay tuned

[2018-02-21 09:26] cazgp commented on #3
As a user of my own hack (!), adding classes to the inlines and the fieldsets is fairly consistent with the existing API and isn't that tricky. It's made further extensions to the admin pretty quick.

The only thing is, that doesn't allow for ordering the inlines and the fields. The fields would always come first, and then the inlines would. If you wanted something different from that, then the cl

[2018-02-27 14:08] cazgp commented on #3
Hey! Thanks so much for this. It sounds like it address my concerns.

One thing -- I'm not quite sure I fully understand the "--" thing. Can you explain in more detail how that works?

Otherwise, go ahead!

[2018-02-27 14:54] abidibo commented on #3
Yes,

the double hype just acts as a separator. A separator between elements which should be grouped inside one tab. Each element can be an inline or a fieldset, so you can have for example:

`'baton-tab-group-fs-main--inline-items--fs-location--inline-contacts'`

where a single tab is created which will contain in the given order:

- the fieldset fs-main
- the inline items
- the fieldset fs-locat

[2018-02-27 15:00] cazgp commented on #3
Cool, that all makes sense. I don't have time right now to test, but do you feel like merging and we can see what happens?

[2018-02-27 15:07] abidibo commented on #3
I'll merge soon, already done in develop branch but still not pushed. I'm adding also support for text input fields in filters and some styles to the results list table, soon I'll release the v1.1.0. Cheers!

[2018-02-27 15:31] #3 closed

[2018-04-18 13:03] AliPolat opened #4 "Configuration Sample"
Hi,

Could you post sample aplication's menu configuration.

Thank You.

[2018-04-18 13:14] abidibo commented on #4
Hi @AliPolat ,
there is an example in the documentation:
- http://django-baton.readthedocs.io/en/latest/configuration.html#example

Here comes another example:

`
BATON = {
    'SITE_HEADER': 'abidibo.net',
    'SITE_TITLE': 'abidibo.net',
    'INDEX_TITLE': 'Site administration',
    'MENU': (
        {'type': 'title', 'label': 'Site',  'apps': ('auth', 'sites', )},
        {'type': 'app', 'name'

[2018-04-18 13:14] #4 closed

[2018-04-20 13:32] abidibo opened #5 "show_change_link in TabularInline has no effect"
show_change_link option in TabulInline inlines has no effect, no change link is displayed

[2018-04-20 13:38] #5 closed

[2018-04-23 08:10] abidibo opened #6 "admin HORIZONTAL radio fields not rendered horizontally"
radio fields in admin are always rendered vertical

[2018-04-23 08:13] #6 closed

[2018-05-02 11:21] AliPolat opened #7 "Search button in admin listview"
Hi,

Search button in admin listviews do not display any visual clue that it is hovered by mouse.

Thank you

[2018-05-02 12:08] abidibo commented on #7
Hi, this is a minor bug, which does not justify an hotfix release, in my opinion. Will fix when solving other issues.
Meanwhile you can fix it by adding a simple css rule in the `base_site` admin template (create one in an app declared before baton if you don't have it):

    <style>
        #changelist-search input[type="submit"]:hover {
            background: #fafafa; /* change color at your wi

[2018-05-03 12:54] AliPolat opened #8 "Menu in Login Page"
Hi

Application menu bar appears often in the login page.  I can only get rid of it by clearing everything in the browser cache several times.

![login](https://user-images.githubusercontent.com/1778756/39577436-059dfa62-4eea-11e8-9b55-6a1aa8851567.png)

Thank you very much fo your kind help.

[2018-05-03 13:03] abidibo commented on #8
Hi,

I can't reproduce this bug.

- do you use a custom login template (it seems different from the baton default one)
- can you run `location.pathname` in your browser console in the login page and post here the output
- some other custom stuff in your project that may interfere?

[2018-05-03 13:27] AliPolat commented on #8
- I use costumised admin index.html
- location.pathname produces  "/login/"
- I use also django-admin-reorder

thank you..

[2018-05-03 13:30] abidibo commented on #8
Can I see your custom index code? Also the login page seems different to me.

[2018-05-03 13:31] AliPolat commented on #8
here is my index.html :

{% extends "admin/index.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% e

[2018-05-03 13:42] abidibo commented on #8
Ok, not useful.

So you don't have a custom login page, nor a custom admin base_site template?

This is how should look the default login page: no navbar, no menu, a centered bordered box containing the input fields

![screenshot from 2018-05-03 15-40-07](https://user-images.githubusercontent.com/444093/39580040-741bdfc4-4ee8-11e8-9ce9-d9529f8ecca9.png)

Also, in your browser console, when you hav

[2018-05-03 13:44] abidibo commented on #8
Oh... wait I see.

Which is your login page url? Maybe you don't have the `admin` part?

[2018-05-03 13:45] AliPolat commented on #8
Yes I dont have admin part.

[2018-05-03 13:45] AliPolat commented on #8
minyon.azurewebsites.net

[2018-05-03 13:46] abidibo commented on #8
Let's continue this conversation on skype, you may find me as abidibo

[2018-05-03 14:28] #8 closed

[2018-07-02 18:20] Williano opened #9 "Adding logo to header"
Please how can I add a logo or image as a site header from my static files ?

[2018-07-03 08:50] Williano commented on #9
Thank you very much. Baton is one of the cool Django admin customization. I really like it.

[2018-07-03 08:54] #9 closed

[2018-07-27 17:33] abidibo opened #10 "Style warning and error changelist messages"
Add this:

    .warning {
      @extend .alert;
      @extend .alert-warning;
      @extend .pl-3;

      &::before {
        @extend %font-awesome;
        content: '\f12a';
      }
    }

    .error {
      @extend .alert;
      @extend .alert-danger;
      @extend .pl-3;

      &::before {
        @extend %font-awesome;
        content: '\f071';
      }
    }

to `_content.scss`

[2018-09-13 12:25] #7 closed, assigned to nobody

[2018-11-05 11:06] abidibo opened #11 "Pages not detected when url i18n is active"
The script cannot detect login, dashboard etc... when i18n is used in urls, i.e.:

http://localhost:8000/it/admin/

[2018-11-05 11:13] #11 closed

[2019-02-15 22:00] Magister opened #12 "Incorrect dirty detection"
This is incorrect with `filter_horizontal` feature of django-admin. `form.serialize()` also serializes second form select - and thus form is always "dirty", while in reality nothing has changed.
https://github.com/otto-torino/django-baton/blob/031f9d2d164429adc332430e17ab2596a2fedfb7/baton/static/baton/app/src/core/ChangeForm.js#L27-L29

[2019-02-16 08:13] abidibo commented on #12
Thanks, I'll look into it

[2019-02-21 12:56] abidibo commented on #12
Hi @Magister ,
I've looked into it and I must say I've the opposite behaviour, that is, in my case, The form is never dirty even when adding/removing select choices.

This is due to the fact that jquery serialize method only considers form fields that have a value, while in such widget, the options are not selected, thus do not have a value! Options are simply added to the "new" select multiple bu

[2019-02-21 13:00] #12 closed

[2019-02-26 21:53] Magister commented on #12
Hi, @abidibo ,
Yes, looks like you're right, I did not dig deep into details.
Your fix does its job for me, thanks a lot.

As for better ways - well, probably it can be possible to somehow patch Django's javascript or (better) monkey-patch widgets to emit some events, but not sure if that will be too fragile/incompatible with different Django admin versions.

So probably your solution is the best

[2019-03-23 08:22] tawanda opened #13 "Theme is not changing after installation"
Good Day

I followed all 3 steps from the installation

Django versions tested and not working 2.0 and 2.1.7
OS: Windows 10

[code]
`settings.py`
[code]

`urls.py`
[code]

any idea what I am doing wrong. it still uses the old django admin template with the above setup

[2019-03-23 08:38] tawanda commented on #13
My bad, I had an old `base_site.html` in my admin template folder that was overriding the awesomeness

[2019-03-23 08:38] #13 closed

[2019-04-19 10:13] teethgrinder opened #14 "User drop-down menu items problem"
Hello,

User Dropdown menu items stays behind the admin panel in my case. How can I fix this ? the menu items under "Ytsejam" are not shown in the image.
![Screenshot from 2019-04-19 13-10-03](https://user-images.githubusercontent.com/713918/56419980-e523d480-62a4-11e9-894b-557a2e8fe1c7.png)

Thanks for your app , it looks promising.

[2019-04-19 10:36] abidibo commented on #14
Thanks, I'll look into it soon, can you provide some more info in the meanwhile, like os and browser version? Thanks.

[2019-04-19 10:42] teethgrinder commented on #14
of course. I use Arch linux( every arch user declares that they use arch linux - traditions )
and Chromium Version 73.0.3683.103 (Official Build) Arch Linux (64-bit). I
I checked the problem in Firefox after your question, issue is on Chromium only. Firefox handless css correctly.

[2019-04-21 08:43] abidibo commented on #14
I'm unable to reproduce this bug. I have no problems with google chrome and chromium, build 73.0.3683.86 on ubuntu, and I can't install version 73.0.3683.103 for unmet dependencies. I'll check my chromium version after next upgrade to see if I can reproduce the problem.

It seems like the z-index property of the dropdown element is ignored in some way. It's impossible to debug this stuff without r

[2019-04-21 08:50] teethgrinder commented on #14
My user had the same problem in windows 10 and firefox. I think also it is about "z-index" but inner part under this menu stays on top.

[2019-04-21 09:02] teethgrinder commented on #14
Found problem source it is in base.css line 830
[code]

I commented overflow:hidden and there is no problem.

[2019-04-21 09:44] abidibo commented on #14
OK, the strange thing is that baton resets completely the base.css file in order to avoid such things. Your base.css adimn file shoul contain (https://github.com/otto-torino/django-baton/blob/master/baton/static/admin/css/base.css):

`/* empty */`

Maybe you've not inserted `baton` in installed apps before `django.contrib.admin`?

With a normal installation I don't have such roles for the #header

[2019-04-23 21:48] Gman1988 opened #15 "Installation guide"
Hi,

when I use:

 pip install django-baton

still I need to manually copy folders to my project right ?

I am getting this error:

    path('baton/', include('baton.urls')),
    NameError: name 'include' is not defined

Best,
Paweł

[2019-04-24 10:31] abidibo commented on #15
Hi @Gman1988 ,
actually no.

You don't need to copy anything, include is a function you must import in your `urls.py`

`from django.urls import path, include`

[2019-04-24 10:33] abidibo commented on #14
Hi @teethgrinder ,
any news on this one? Have you understood why your base.css is not reset? In a normal installation you shouldn't have the overflow hidden rule, let me know since I'd like to close this issue, thanks

[2019-04-24 11:11] teethgrinder commented on #14
All the applications are correct in  line,
`INSTALLED_APPS = [
    'baton',
    'django.contrib.admin',
   ...
    'yogavidya.apps.articles',
     'baton.autodiscover',
]`
and my urls:
`from baton.autodiscover import admin

urlpatterns = [
    path('admin/', admin.site.urls),
    path('baton/', include('baton.urls')),]`

my best guess cant collect the baton css files overwriting admin.css .

[2019-04-26 14:46] etanter opened #16 "beginning GUI issues"
Hi,
I'm trying to evaluate migrating from django-suit to django-baton, for an app running on Django 1.11. I like the minimalist philosophy and the general design, cool stuff!

After applying the basic install instructions, and removing all django-suits files around, everything seems fairly functional except that:
- the menu does not show up at all (it blinks on page load then disappears and I can'

[2019-04-26 15:18] abidibo commented on #16
Hi @etanter ,
I've just tried the last baton version 1.4.0 with a django 1.11.1 project and all works as expected.

The first thing to check if migrating from other admin apps to baton is whether or not admin templates, css or js are overwritten from other apps. Particularly admin templates, since baton relies on the base django html structure to inject stuff. Also some more info can help us to fi

[2019-04-26 15:20] abidibo commented on #15
@Gman1988  Any update on this one?

[2019-04-26 15:23] abidibo commented on #14
Not sure, django will get the first base.css file it finds following the INSTALLED_APPS applications order.
maybe the output of the `collecstatic` command can say something about what is happening.

[2019-04-26 16:08] teethgrinder commented on #14
I deleted my `static_cdn` folder. collected them all, still same results. trying to figure out where the confusion comes from. I will inform you after trying everything.

[2019-04-26 16:17] #15 closed

[2019-04-26 17:19] gual opened #17 "Open last tab after submit"
Is there an option to preserve the last tab after saving an instance?

Lets say I have configured "tab 1", "tab 2", "tab 3": I'm on tab 2 and choose to save my progress, currently after saving I'm redirected to tab 1, I would like to be redirected to tab 2.

If there isn't a built-in function, I would be interested in exploring adding it, which will be the best approach to this?

(Awesome work btw

[2019-04-26 18:01] etanter commented on #16
Thanks @abidibo for the quick response.
I've removed all admin templates and so on, but same problems.

I'm using Chrome (version 73) on mac os. I'm running on incognito mode to make sure cache does not interfere.
When I open the JavaScript console in Chrome, there is indeed an error reported in Menu.js:

![image](https://user-images.githubusercontent.com/1315554/56826976-8540a700-682b-11e9-8729-5

[2019-04-26 18:09] abidibo commented on #17
Hi @gual ,
baton supports already to open a form tab on document load, just by appending the right hash to the url, as explained at the end of this page:
https://django-baton.readthedocs.io/en/latest/form_tabs.html

So it's quite simple to add such functionality, simply the submitted url when clicking the "submit and continue" button should contain such hash.

I like this enhancement, and I'll def

[2019-04-26 18:41] gual commented on #17
Awesome! The fix is working. Thanks, @abidibo.

The dispatcher looks like an overhaul lol and I would let that job to you :) About the other solutions they look _doable_ for me (with guidance). Let me know what you choose.

[2019-04-26 19:04] abidibo commented on #16
This is so weird! You shouldn't see the Menu.js because it is included in the baton bundle by webpack, and also, Menu.js is clearly a js file, while in the console it is printing the base_site template...

Is this the whole trace of the js error? Have you tried to customize baton recompiling it, or you've just installed it from pip and used it as is?

[2019-04-26 23:15] etanter commented on #16
yep, it's the whole trace. I haven't done any customization, just ran pip install (in a virtual env).

[2019-04-26 23:17] etanter commented on #16
well, it was a screenshot, so trimmed at the end. I attach the full trace as a txt file.

[127.0.0.1-1556320551635.txt](https://github.com/otto-torino/django-baton/files/3123237/127.0.0.1-1556320551635.txt)

[2019-04-26 23:55] etanter opened #18 "inline tabs not showing"
Hi,
I have another issue, which might be related to the general UI bugs I'm encountering, but in case it's not, would be good to know ;-)

I have successfully been able to set up fieldset tabs, but inline tabs do not work.
See screenshot: there is a phantom tab (empty label, see light gray border in place of the "third" tab). The link is correct (see bottom of the picture). Beyond not having a tit

[2019-04-27 06:49] abidibo commented on #18
This happens to me when I misspell something in the css class definitions used to activate the tab behaviour. Please post here your complete ModelAdmin class along with the models involved (I want to see the related_name props if any)

[2019-04-27 06:55] abidibo commented on #16
I woluld check if the ajax request that baton performs to retrieve the menu data fails fore some reason, or returns the wrong response.

Please, recharge the page looking at the newtwork tab of the developer console, and search for the `app-list-json` request. You should see something like the attached screenshot. If you see something else, like the whole admin index template, then it should be so

[2019-04-27 12:37] etanter commented on #18
indeed it was due to related names! sorry for not properly reading the f... manual ;-)

[2019-04-27 12:37] #18 closed

[2019-04-27 12:38] etanter commented on #18
(fwiw, it might be good to put an explicit note in the docs to bring the attention on that issue)

[2019-04-27 12:40] etanter commented on #16
in the response it says "failed to load response data"
no super informative, I'm afraid

[2019-04-27 12:44] etanter commented on #16
fyi I'm using a trimmed-down BATON config from the docs:
[code]

[2019-04-27 12:48] abidibo commented on #16
So:

1 - what do you see if (when logged in) you open a browser tab with this url http://localhost:8000/baton/app-list-json/
2- Post here your main urls.py

[2019-04-27 12:56] etanter commented on #16
ok, got it, it was a bug in my main urls (my admin pages have a configurable suffix (eg. ".../dev/admin/...") and I hadn't configured the baton urls accordingly (needed to have `url(r'^' + URL_SUFFIX + 'baton/', include('baton.urls')),`)

thanks for your help tracking down this issue!!

[2019-04-27 12:56] #16 closed

[2019-04-27 13:27] abidibo commented on #17
Hi @gual,
I've added all the functionality in the develop branch (persistence of selected tab + onReady, onMenuReady, OnNavbarReady signals, documented here https://github.com/otto-torino/django-baton/tree/develop#signals). I'll not release this now, because I think there isn't enough material to justify a 1.5.0, so before merging in master I'd like to add more stuff. Cheers!

[2019-04-27 14:17] etanter opened #19 "some style lost when linking to a custom page"
Hi,

In the menu bar I have links to custom pages (basically, stats about the app), implemented via views that render typical templates.

In my django-suit implementation, I would just link to the page as if it were external, and these templates start with `{% extends "admin/base_site.html" %}` in order to inherit the style, and then only define a `{% block content %}`.

I tried that with baton, u

[2019-04-27 14:19] etanter opened #20 "how to group custom links in menu"
Is there a way to group custom links (ie. `'type': 'free'` in the `MENU` config) under a collapsable menu item, just like it works for a `'type': 'app'` block?

[2019-04-27 14:34] abidibo commented on #19
Yes, if you write a custom view you need to fill the template context with the necessary variables, which are not present by default at the moment, in order to show the site title you need to pass `site_header`, and in order to show the user dropdown `has_permission`:

    mycontext = {
        #...
        'site_header': 'My Title',
        'has_permission': True,
    }

[2019-04-27 14:39] abidibo commented on #20
No there's no such functionality at the moment, I'll think about the possibility to add nested voices though.

[2019-04-27 15:21] abidibo commented on #20
@etanter ,
the functionality is now available in the develop branch (https://github.com/otto-torino/django-baton/tree/develop#configuration-menu), if you want to try it. It will be released in the v1.5.0 when I'll add more stuff.

[2019-04-27 15:22] #19 closed

[2019-04-27 15:37] etanter commented on #19
perfect, thanks!

[2019-04-27 15:51] etanter commented on #20
it works perfectly, thanks a lot!

[2019-04-27 15:51] #20 closed

[2019-05-02 19:01] etanter opened #21 "fixed width font for numbers"
Hi, while I find the font very elegant, the fact that numbers are not fixed width makes large lists of numbers and dates look disorganized. Is there an option for numbers to be rendered with fixed width?

[2019-05-03 08:10] abidibo commented on #21
Hi @etanter ,
actually no, there isn't a simple way to apply a monospaced font only to numbers and dates. Django does not wrap data in elements providing type information (for example with different css classes).

It's easy to globally change the font family, just add a rule to the body element marking it as !important. While if you need to have different fonts in different sections/divs/tables an

[2019-05-03 11:33] etanter commented on #21
thanks @abidibo!

[2019-05-03 11:33] #21 closed

[2019-05-06 14:55] Gman1988 commented on #15
Apologize, my bad. Everything is working :)

[2019-05-06 17:55] TomAnthony opened #22 "Add 'suit_form_includes' equivalent to embed HTML"
I've migrated to Baton from Django Suit. Thanks for such a fantastic project!

The primary two features that I prayed for from Django Suit was form tabs (which you have :)) and then the other is ability to include an HTML file inside a specific admin form.

I want to provide a batch photo upload form inside the admin configuration but am unsure how to do it without lots of hacking. I had a quick a

[2019-05-06 18:04] TomAnthony commented on #22
The override does work fine in Baton, I realised right after posting this! :)

[2019-05-06 18:04] #22 closed

[2019-05-13 14:29] #17 closed

[2019-05-13 15:24] abidibo opened #23 "Add onTabsReady event"
Add such event, to be dispatched in `Tabs.js` after tabs have been properly rendered

[2019-05-13 15:27] abidibo opened #24 "Remove preview div from dom when image can't be fetched"
Add this in  `Changeform.js` `lazyLoadImages` function:

          image.onerror = function () {
            preview.remove()
          }

[2019-05-13 15:29] abidibo commented on #14
I'm closing this since I've not received any more feedback, and it doesn't sound like a baton problem. Feel free to reopen if needed.

[2019-05-13 15:29] #14 closed

[2019-05-14 08:38] abidibo opened #25 "Bad autocomplete_fields styles"
Autocomplete admin fields re not well styled

[2019-05-14 12:31] #23 closed

[2019-05-14 12:31] #24 closed

[2019-05-14 12:31] #25 closed

[2019-05-31 13:25] clint74 opened #26 "Menu in multiple admins"
Is it possible to handle menu in a multi admin once MENU config is centered in settings?

[https://books.agiliq.com/projects/django-admin-cookbook/en/latest/two_admin.html](https://books.agiliq.com/projects/django-admin-cookbook/en/latest/two_admin.html)

[2019-05-31 14:58] abidibo commented on #26
I've never thought about it, but I think that no, at the moment is not possible to have different custom menus in different admin sites. Probably it works with no menu configuration (and so with the default menu displayed) overriding and tweaking a bit the [baton admin site](https://github.com/otto-torino/django-baton/blob/master/baton/autodiscover/admin.py) (which as default automatically registe

[2019-06-20 09:33] lorenzomorandini opened #28 "Fieldsets break"
Running django 2.1, installing the package breaks the fieldsets. I tried it with a simple ModelAdmin defining different "sections" in fieldsets. Once I installed Baton every field falls under the first "section" while the others remain empty.

[2019-06-21 15:31] abidibo commented on #28
Hi @lorenzomorandini ,
I can0t reproduce this bug, if I don't assign the `baton-*` classes to the fieldsets, the normal behaviour is respected. Please share your ModelAdmin class, thanks

[2019-07-02 14:59] #26 closed

[2019-07-08 08:32] abidibo commented on #28
I'm closing this for lack of activity, no additional information was provided and I couldn't reproduce the bug.

[2019-07-08 08:32] #28 closed

[2019-07-23 13:13] AliPolat commented on #28
If more than one wrapped field group is defined in ModelAdmin in Django2.1, fields are messed up. As in following :

    fieldsets = (
                 ('Fatura Bilgisi',  {'fields': (('tedarikci', 'sozlesme'), 'fatura_no', ('fatura_tarihi', 'fatura_miktari'))}),
                 ('Dağıtım Bilgisi',  {'fields': ('merkez_alimi', 'ggm')}),
                 ('Ödeme Bilgisi', {'fields': ('hakedis_no',

[2019-07-23 13:17] AliPolat opened #29 "Fieldset wrapped fields issue"
If more than one wrapped field group is defined in ModelAdmin in Django2.1, fields are messed up. As in the following :
`fieldsets = (
             ('Fatura Bilgisi',  {'fields': (('tedarikci', 'sozlesme'), 'fatura_no', ('fatura_tarihi', 'fatura_miktari'))}),
             ('Dağıtım Bilgisi',  {'fields': ('merkez_alimi', 'ggm')}),
             ('Ödeme Bilgisi', {'fields': ('hakedis_no','odeme_no',

[2019-07-23 14:39] abidibo commented on #29
Hi @AliPolat ,
can you give a try with the develop branch, I think I fixed it.

Thanks

[2019-07-23 18:40] AliPolat commented on #29
Thank You. It is working correctly now..

[2019-08-02 12:22] #29 closed

[2019-11-13 17:46] farooqaaa opened #30 "Ability to expand a menu by default"
There's no way to expand a menu by default. I have a project with just one app and it's tiresome to expand the menu every time. Adding a class attribute would solve this issue.

[2019-12-03 14:27] abidibo commented on #30
You can overcome this problem using the menu voices of type `title` and `model`

[2019-12-03 21:14] #30 closed

[2019-12-19 17:04] diogosimao opened #31 "Django AdminModel date_hierarchy"
Hi,

Would it be pertinent to use `date_hierarchy = 'created_at'` and wait for side by side (inline) date values?
![image](https://user-images.githubusercontent.com/8460840/71192756-aac16b80-2267-11ea-92fa-5c411e47fb52.png)

As the number of items (date values) expands the list of link, theses items on the top of the page pushes the important content lower than it should or could be.

see default

[2019-12-19 18:44] abidibo commented on #31
Hi,
thanks for reporting this.

Sure,
I'll add styles for it stay tuned

[2019-12-19 19:14] abidibo commented on #31
@diogosimao ,
I fixed it in the development branch.

Can you give it a try and give me some feedback? If you're satisfied with the result, I will release an hotfix

[2019-12-20 19:44] diogosimao opened #32 "Custom date widget"
Hi,

Is there anything related to custom _datetime_ fields widgets on _list_editable_. Posting baton and default django admin:

**(1)**
![image](https://user-images.githubusercontent.com/8460840/71287573-791fd180-2347-11ea-9fe5-a96383ed6994.png)

**(2)**
![image](https://user-images.githubusercontent.com/8460840/71287613-95bc0980-2347-11ea-90a3-5cc6e781fa71.png)

**(3)**
And here we see date picke

[2019-12-20 21:10] abidibo commented on #32
Thanks for reporting this,

it has been fixed in the develop branch, will be included in the next release

[2019-12-28 15:21] mahapatra-arup opened #33 "view problem"
You don't have permission to view or edit anything.

[2020-01-02 13:32] abidibo commented on #33
Hi,
you should definetely provide more info about what exactly the problem is, your environment, log messages, screenshots and so on...

[2020-01-13 09:32] pyutil opened #34 "Calendar in admin inline - bad placing"
Hi, thank you for your great work.

![calendar_wrong_place](https://user-images.githubusercontent.com/59448376/72244865-74b9a200-35ef-11ea-8354-e1845be26161.png)

The calendar doesn't appear near to date/calendar icon but at the right corner (at the end of the inline). When browser content is not resized then calendar is not visible at all.
(I have tested same with current both branches: master, d

[2020-01-13 09:35] abidibo commented on #33
I'm closing this since no additional information was provided

[2020-01-13 09:35] #33 closed

[2020-01-13 10:22] abidibo commented on #34
Hi @pyutil ,
thanks.
Try again with the develop branch, should be fixed now.
I'll also restyle the calendar in the next future, I don't like it very much as it is now.

[2020-01-13 10:56] pyutil opened #35 "long inline description hides 2nd,3rd,.. inline fields"
In admin, in the TabularInline, baton has 2nd,3rd,.. field higher than the 1st field. If the description of related record is longer, then it hides the content of the next fields.
In (vanilla) django admin all fields have their tops placed in same height.
![inline_longdesc_baton](https://user-images.githubusercontent.com/59448376/72250344-aafd1e80-35fb-11ea-8aac-fab0744df8b5.png)
![inline_longdesc

[2020-01-13 11:31] pyutil commented on #34
Hi, you are extremely fast !!!
It works excelent now.
(but I have few such small things here.. :) can I add them?)

[2020-01-13 11:33] pyutil commented on #35
Maybe in css ".original + td" could be replaced with "td" only. But I am not sure if this is the best direction.

[2020-01-13 11:37] abidibo commented on #34
yeah sure, add all issues

[2020-01-17 15:35] #31 closed

[2020-01-17 15:35] #32 closed

[2020-01-17 15:35] #34 closed

[2020-01-17 15:35] #35 closed

[2020-01-22 13:35] pyutil opened #36 "colored inline header hasn't full size"
This is really minor.
If the inline is too wide, then inline header is not so wide.
See the picture (text of the header is not visible, i'm sorry): the pink(?) color is the header. It should have the full page width.

(I'm sorry that I am so slow. And I must change my statement, we have no errors more. Only maybe some wishes - design features. I will add one later today. Thanks.)
![inline_header](

[2020-01-22 13:39] pyutil opened #37 "design feature: could textareas take more width?"
In the pictures are situations where textareas could be wider.
Maybe similar problem is that "select" and text "input" could have same size.
![textarea_width_1](https://user-images.githubusercontent.com/59448376/72898750-f6fb4200-3d24-11ea-8491-4192d783ee59.png)
![textarea_width_2](https://user-images.githubusercontent.com/59448376/72898766-fc588c80-3d24-11ea-88e1-d6a0ec2f17bc.png)

[2020-02-03 13:51] abidibo commented on #36
Yeah, I know this one, not easy to fix btw. I'll look more into it.

[2020-02-03 13:55] abidibo commented on #37
You can easily make them wider with a single css rule in your admin base template, also textarea are resizable.

Input text width is set to auto, to avoid having default bootstrap 100% wide inputs, so it would be difficult to have textareas and inputs of the same width, unless I force them, and I'm not sure this would be a good idea right now

[2020-02-03 14:42] pyutil commented on #37
Hi. Thank you. I mean same width for <input> and <select>.
For <textarea> would be good the maximum width. So I will try resize them, but I am not very good in css.
Thank you for your whole work!

[2020-02-03 14:48] pyutil commented on #37
("input", "select" was hidden from github formatting - my mistake).
But I see from the attached pictures that "select" have different sizes. Probably from their contained options?
So maybe it would be difficult and contraproductive to normalize their sizes. And it is not very important.
But the max-sized "textarea"s would be great.

[2020-02-03 14:51] abidibo commented on #37
Hi,
yes, you shouldn't control select width, because it auto sizes itself basing upon its contents. If you set a fixed width you risk in some browsers to have the contents cut off.

I don't get the point here, you need to have wider textareas?

[2020-02-03 14:52] abidibo commented on #36
As a general rule, use `StackedInline` if `TabularInline` causes overflow, I know they keep much more space, but this is their purpose

[2020-02-03 15:05] pyutil commented on #36
Maybe I understand the problem of difficult styling: that the header and the inline itself are not in common container element.
No problem. This is really not important thing.

[2020-02-03 15:13] pyutil commented on #37
Yes. I think it would be good if textareas will take all possible width (without need of resizing them).
This was the most imprortant thing in this issue.
In the attachement:
- could the 3 textareas in the top take 1/3 of the full width? (instead of 60% of 1/3)
- could the textarea called "Popis" take the rest of the width to the right margin? (instead of 60% of the free area)
If it is easy, it wo

[2020-02-03 15:20] abidibo commented on #37
I prefer not to have textarea at 100% width, because it seems excessive to me with full hd screens,

But you can try to add this simple stuff in the `block extrahead` of your base admin template:

[code]

[2020-02-05 04:09] linhnvhicts opened #38 "Feature suggestion: child tabs(nested tabs)"
Hi, really good work with the project!

I really like the form tabs system and easy to implement. I wonder if it's possible that i can add a child tab inside a tab. Currently i have the following admin like so:

[code]
I can put all 3 inlines of TopUpsInline, TransfersInline, WithdrawalsInline inside 1 tab but kinda hard to navigate each inline if one inline has alot of rows. I think if it has chi

[2020-02-10 10:42] abidibo commented on #38
Hi,

I understood the point here.
I'm not sure having nested tabs will produce a better user experience, I generally avoid nesting ui components which are not intended to be nested, I'm afraid the result could be a bit confusing. I tend to use more first-level tabs in such cases.

But I'll look into it and hopefully find the time to make some tests and see how it looks.

[2020-02-10 10:42] #37 closed

[2020-02-11 10:54] linhnvhicts commented on #38
yes, currently i'm using collapse for better navigation but nested tab always look better as some sometime categorize is unavoidable on admin side :D

![Screen Shot 2020-02-11 at 17 53 52](https://user-images.githubusercontent.com/46511495/74230702-8037e000-4cf7-11ea-8a8f-caa3c6a05dc6.png)

[2020-02-12 05:02] linhnvhicts opened #40 "Filter button overlaps on list if actions = None"
When a ModelsAdmin is disable with

https://docs.djangoproject.com/en/3.0/ref/contrib/admin/actions/#disabling-all-actions-for-a-particular-modeladmin

Then the action div won't be show so the .changelist-filter-toggler's absolute position affected by the list itself:

With actions div:

![Screen Shot 2020-02-12 at 11 58 56](https://user-images.githubusercontent.com/46511495/74304367-65b14580-4d8f

[2020-02-19 10:26] manuelfedele opened #41 "Setting 'SITE_HEADER' not working on Django==3.0.3"
I've set everything as described
- `'baton'` in installed apps before 'django.contrib.admin'
- `'baton.autodiscover'` at the end of installed apps
- included baton's urls in urls.py

But setting
[code]
in settings.py does not change my admin name. Is a fresh started django project with just 4 models. everything else seems to work fine.

At the moment I'm overriding `admin.site.site_header` as work

[2020-02-24 13:10] abidibo commented on #41
Hi @manuelfedele ,

I cannot reproduce the bug you're talking about, see screenshot below.
I've tested with django==3.0.3 and django-baton==1.5.7

![Screenshot from 2020-02-24 14-07-19](https://user-images.githubusercontent.com/444093/75154948-398eb080-570f-11ea-8402-8c32b1a5fb1b.png)

Can you set up a repo which reproduces the error?

[2020-02-24 15:23] #40 closed

[2020-02-25 17:25] nitishxp opened #42 "UI issues"
Hi, @abidibo I am facing UI issues on all pages.

![image](https://user-images.githubusercontent.com/25002490/75271289-f709c880-5821-11ea-8ff9-8e89023f5764.png)

![image](https://user-images.githubusercontent.com/25002490/75273115-67661900-5825-11ea-8ddd-902f4b8a45cb.png)

![image](https://user-images.githubusercontent.com/25002490/75273144-7baa1600-5825-11ea-98b1-6b0a0aa4a9f0.png)

[2020-02-25 18:39] nitishxp opened #43 "Put each inline to seperate tab"
Hi @abidibo

[code]

I am using the above code in admin.py. AModelconsists of 23 fields. I want to have separate tab for each of the inlines classes. I tried following your documentation but I need to explicitly mention all fields in the fieldset values.

I am also using GenericForiegnKey named QGenericForeignKeyInline but this is not coming in separate tab even I am attaching a class to it. It se

[2020-02-26 06:18] nitishxp commented on #42
1.

[2020-02-26 06:18] #42 closed

[2020-02-27 08:17] linhnvhicts commented on #43
If you can understand how the syntax work then it's much easier to set up tab contents
[code]

[2020-02-27 14:09] nitishxp commented on #43
@linhnvhicts any idea how to pass all the fields of main model since I have indefinite no of columns in the model?

[2020-02-27 14:15] abidibo commented on #43
@nitishxp there isn't an "easy" way of doing it, no `all` keywords or such. The presence of a fieldset is required, because I nedd a css class to be defined in order to move `divs` around after page creation.

Maybe you can construct a tuple of all fields with introspection:
https://stackoverflow.com/questions/3106295/django-get-list-of-model-fields

[2020-02-27 14:26] nitishxp commented on #43
@abidibo how to use in Generic Foreign Key? since generic foreign does not have any related name?

[2020-02-27 14:39] abidibo commented on #43
@nitishxp Have you got an example app I can try?

[2020-02-27 14:55] nitishxp commented on #43
@abidibo give me some time to prepare demo app?

[2020-02-27 14:56] abidibo commented on #43
@nitishxp thanks, I appreciate, because I'm quite busy these weeks

[2020-02-27 15:49] nitishxp commented on #43
@abidibo  https://github.com/nitishxp/abidibo

[2020-02-28 06:50] nitishxp commented on #43
Got a hack used <appname>-<model-name>-content_type-object_id as related name it worked

[2020-02-28 06:50] #43 closed

[2020-02-28 07:38] abidibo commented on #43
@nitishxp cool.

[2020-03-01 13:56] nitishxp commented on #43
@abidibo In case of non-fields errors, the UI is not looking great could u resolve it.

![image](https://user-images.githubusercontent.com/25002490/75627035-9815cc00-5bf2-11ea-88e4-7af5707a086a.png)

[2020-03-03 18:27] manuelfedele commented on #41
I'll do it asap. :)

[2020-03-20 05:01] linhnvhicts opened #44 "Sidebar Menu not following Django index.html template ?"
I tried to add a link  name `Transactions History` under an app by overriding index.html :

            {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}">
                {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                    <th scope="row">{{

[2020-03-20 08:00] abidibo commented on #44
Hi @linhnvhicts ,
I'm sorry but no, there is no way the baton menu can get data from an html section you add to a template. Baton menu is constructed from the admin registered apps and at the moment it's not possible to specify just some additions, you need to construct your full menu tree.

[2020-03-20 08:33] kwangsooshin opened #45 "May I change fonts?"
Hi, I want to chnage fonts in baton(because of support korean).
May I change font settings?

[2020-03-20 09:23] abidibo commented on #45
Hi, yes two ways:

1 - override the baton `base_site.html` template and add the followind snippet:
[code]
And if you see some other html elements with the `Dosis` font, just add it to the list.

 2 - change the font setting in the `_variables.scss` file of baton (`baton/static/baton/app/src/styles/`) and recompile the app, then serve the compiled js from an app declared before baton (this is expla

[2020-03-20 21:07] kwangsooshin commented on #45
Thank you!

[2020-03-20 21:07] #45 closed

[2020-03-23 03:56] linhnvhicts commented on #44
Thank you for the reply, i understand that the menu should follow the models so i decided to just to rewrite the menu :)

[2020-03-23 03:56] #44 closed

[2020-03-24 21:36] kwangsooshin commented on #41
@manuelfedele Are U add `from baton.autodiscover import admin` in urls.py?

[2020-04-03 11:15] manuelfedele commented on #41
@kwangsooshin I did not and I think that was the issue. I just noticed that was written even in the docs. I feel dumb. :)

[2020-04-03 11:15] #41 closed

[2020-05-05 19:57] farooqaaa opened #46 "Menu not showing in Django 2"
If you use Baton's `admin.site.urls` in _urls.py_, the menu doesn't show. This can be fixed by using Django's admin URLs. I think this should be mentioned in the docs.

[2020-05-11 14:44] abidibo commented on #46
It's not clear to me, can you elaborate more please?

[2020-05-16 18:04] toodamfilthy opened #50 "Page flashes on every reload"
Whenever I click a link the whole page flashes to display whatever as clicked.

[2020-05-18 07:33] abidibo commented on #50
The "flash" you see is just a hide/show body effect. The fact is that the sidebar menu is injected in the dom, and the whole layout adjusted to support it. During these operations the body is hidden, otherwise, you would see containers moving around. When injection ends, then the body is shown again.
It's not a bug, it's intended.

[2020-05-18 07:33] #50 closed

[2020-05-26 05:30] kwangsooshin opened #51 "FilteredSelectMultiple design is broken inside custom form"
Hi,

I have a problem when I use django-baton.

FilteredSelectMultiple design is broken when I use custom form.

Here is my custom form codes:
[code]

I use FilteredSelectMultiple and it is work at default django admin template.

But, when I use django-baton, it's broken such as:

![screencapture-0-0-0-0-6008-adminudi-userudikey-add-2020-05-26-14_23_37](https://user-images.githubusercontent.com/29

[2020-05-26 14:21] abidibo opened #52 "menu open default wrong behaviour in mobile"

[2020-05-26 14:39] abidibo opened #53 "wrong menu visualization on md devices"

[2020-05-26 15:22] abidibo opened #54 "admin form filter_vertical rendered as filter_horizontal"

[2020-05-26 15:36] abidibo commented on #51
Hi @kwangsooshin ,
the problem is that the selector widget is not wrapped by the same container as it happens when using  `filter_horizontal` prop. By the way, I'll fix it now. Thanks!

[2020-05-26 15:40] #52 closed

[2020-05-26 15:40] #51 closed

[2020-05-26 15:40] #53 closed

[2020-05-26 15:40] #54 closed

[2020-05-26 15:51] abidibo commented on #51
Fixed in django-baton==1.7.2

[2020-06-03 12:48] AliPolat opened #56 "Feature request : Auto hide sidebar menu"
It may be user-friendly for crowded screens to have an option that make side bar menu auto hide.

Thank You

[2020-06-04 12:06] abidibo commented on #56
Yes, I'll definitely add this feature in the future

[2020-06-11 19:03] neowenshun commented on #42
Hi im facing the same issue how did u resolve this?

[2020-06-11 19:46] neowenshun opened #58 "Code editor"
Im currently using the codemirror-2 editor , does not seem to be compatible in this case

[2020-06-12 07:52] abidibo commented on #58
Hi @neowenshun ,
I usually use django-ckeditor. Maybe the problem is that the editor js should be delayed a bit. If you provide a runnable example I can give it a try.

[2020-06-12 07:55] abidibo commented on #46
I'm closing this for now, not a bug and the application works as expected when following the installation instructions

[2020-06-12 07:55] #46 closed

[2020-06-12 11:23] neowenshun opened #59 "Customizing the UI"
Hello , i have am trying to change the css of the page but im having troubles with the recompiling method. Im using windows 10 and i have npm installed.

I cant seem to run the command 'npm run compile' It would have a '.' not a recognized command error , it seems that ./ does not work in a windows environment.

After switching to .\\ the command has another error , ELIFECYCLE err appears .

Sorry

[2020-06-12 11:25] neowenshun commented on #58
Hello , i have decided to remove the code editing functionality from my django admin , sorry for the trouble

[2020-06-12 11:25] #58 closed

[2020-06-13 16:08] neowenshun commented on #59
Hello , sorry i have managed to get npm compile to work , however im still unable to override the css . The instructions said to place baton after one of my django apps , which i did . However i do not quite understand how this work . Im serving my app frontend with reactjs  therefore there is no static folder within my app , but i do have one in my project root directory from running the command

[2020-06-13 18:09] abidibo commented on #59
Hi @neowenshun ,
I don't know your project structure, but probably the admin works differently from your frontend stuff.
You need to know how django picks up static files. It serves the first file it finds with a given path, searching in all static directories inside apps, in the order the installed apps are declared (the same happens with a collectstatic and serving the static files directly from

[2020-06-15 04:32] kwangsooshin opened #60 "Static files loading are failed when I use S3 storage"
Hi,

When I use baton with S3 storage, I see some problems with the static files.

Some of the fonts and icons paths are  not correct such as:

[code]

[2020-06-16 12:43] abidibo commented on #60
If only font files have such problems it doesn't sound like a baton bug for me. Maybe some misconfiguration of S3 for different mime types or something similar? (I've no much experience with S3 storage).

![baton-fonts](https://user-images.githubusercontent.com/444093/84775564-ac35db80-afdf-11ea-8bc0-10b615702030.png)

In this screenshot you see the path of fonts files in a production site, the pa

[2020-06-16 13:19] kwangsooshin commented on #60
Some of icons also broken such as (+add) and (ㅁchange) buttons.

[2020-06-16 13:24] abidibo commented on #60
If the font files aren't loaded properly, then this is an expected behaviour

[2020-06-16 14:22] kwangsooshin commented on #60
Okay, I close this issue when I figure out reason of this problem. Thanks!

[2020-06-16 14:22] #60 closed

[2020-06-20 21:19] etanter opened #62 "Menu voice for view"
Hi,
What is the recommended way to configure the menu so that it points to a view, and not a model?
The only thing that seems to work is to use a free voice with the view url, but then the different settings of the menu do not apply. For instance the INDEX_TITLE is not considered (and it shows "Django Administration" instead of what is setup in the BATON dictionary.
Thanks!

[2020-06-20 21:21] etanter opened #63 "Hide the "Menu" rectangle"
Hi again,
Is there a way to hide the "Menu" rectangle that is displayed in between the INDEX_TITLE and the list of menu items?
I mean this guy:
<img width="191" alt="Screen Shot 2020-06-20 at 5 20 44 PM" src="https://user-images.githubusercontent.com/1315554/85211771-7152e100-b31a-11ea-912b-1961e1352887.png">
It takes quite some space and it's pretty obvious that this part of the page is the menu,

[2020-06-20 22:47] etanter opened #64 "can first tab be an inline?"
Hi again,

I'd like to have a model change page that consists of 4 tabs, the first of which is from an inline.

The only thing I manage to do is to create a fake fieldset whose `classes` attribute contains the proper ordering of the tabs. But of course, this means I have this first extra/empty tab as the landing of the page. (and so I end with 5 tabs instead of 4)

Is that possible?

Thanks!

[2020-06-20 23:01] etanter opened #65 "collapse individual stackinline element"
Hi again again,

While the style of Baton is very elegant, it is quite space consuming. When one has to display a number of inline objects with StackInline, it quickly gets huge.

With the `collapse` class in the Inline one can have the whole set of elements collapsible, but that doesn't really make it better: when looking for one element, one has to expand the whole set.
Would it be possible for

[2020-06-21 19:02] etanter commented on #63
solved that with a violent css hide: `.sidebar-menu h1 { display: none }`
probably an option would be nicer, but meanwhile that will do!

[2020-06-21 19:02] #63 closed

[2020-06-21 20:05] etanter commented on #62
for some reason I had to pass some extra context info, but now that's fixed
(my move to baton is at the same time with moving to Python3/Django2, from P2/D1.11, so there are some quirks that show up that are in fact not related to baton... sorry!)

[2020-06-21 20:05] #62 closed

[2020-06-21 21:07] etanter opened #66 "whole page flashes on each link"
Hi,
Each time I click on a different menu item, the whole page (including banner, menu, etc.) briefly flashes white and then back. It's quite disturbing to the eye, especially when one is clicking around looking for information.
I could send a small video if that helps demonstrating the problem.
Any idea what is causing this, and how to fix it?
Thanks!

[2020-06-22 07:08] abidibo commented on #63
Yes, this is the way to do it now, I'll add an option in the next release

[2020-06-22 07:52] abidibo commented on #66
Hi @etanter ,

this is an intended and expected behaviour. The reason for it is that baton has to move divs around in order to inject the menu, the form tabs and so on..., so you would see weird stuff, i.e. the sidebar menu appearing from the left side moving the content to right. In order to prevent this, the whole document is hidden (opacity 0) until baton finishes its work, and then unhidden (o

[2020-06-22 07:53] #66 closed

[2020-06-22 08:26] abidibo commented on #64
Hi @etaner,
addressed in the develop branch.
You can now add an `order-[NUMBER]` class to the first fieldet, which specify its order in the tabs. Order starts from 0. All the other tabs respect the order of declaration:

[code]

But at least one fieldset should exist, or you'll need to create a fake one in any case.

[2020-06-22 10:17] abidibo commented on #65
Addressed in develop branch, will be released today. Just add a `collapse-entry` class:

[code]

[2020-06-22 10:43] #64 closed

[2020-06-22 10:43] #65 closed

[2020-06-22 12:16] #59 closed

[2020-06-22 13:43] etanter commented on #66
Thanks for the opacity "fix". It flashes less, and I like that, but it still does in some cases.
Is there a way to turn it off more globally? (in the worst case if it's not nice, I'll leave it as is)

[2020-06-22 13:45] etanter commented on #65
Great, looking forward to the release! Thanks

[2020-06-22 14:19] AliPolat opened #67 "Django-filer minor styling incompatibility."
Below is a sample Admin Change Page :

![Admin Change Page](https://user-images.githubusercontent.com/1778756/85298105-5617db00-b4ac-11ea-95ac-088b6d7a1185.PNG)

Any suggestion ? Thank you in advance.

python 3.6
django 2.2
django-filer 1.7.1.1
django-baton 1.7.6

[2020-06-22 14:25] abidibo commented on #67
I always use filer inside muy projects, but I don't use the custom fields. I'll look into it to see if can be easily addressed.  Django filer overrides many django templates and changes the default styles a lot, too much IMHO.
I'll see what I can do about it.

[2020-06-22 16:43] etanter commented on #64
I think there's a slight glitch: I have one real fieldset, which uses `order-3` to go last (4 tabs), and specifies the inlines for the three first tabs. When I first load the page however, the content of the first tab is that last tab! if I go to any other tab and back, it displays fine (the expected inline).
(I checked and the url is "clean", `...path.../id/change`)

[2020-06-22 16:44] etanter commented on #64
in fact even if I load `...path.../id/change/#inline-xxx` directly in the browser, it displays the wrong body.

[2020-06-23 22:08] etanter opened #68 "darker reload flash"
Hi,
Related to #66: I now see what you meant with seeing the page being constructed, which I agree is not very nice either.
Now, the flash is aggressive on the eye because it goes to white. Would it be possible to get the flash to go to black/grey instead?
Thanks!

[2020-06-23 22:11] etanter opened #69 "wrong body when first tab is an inline"
Related to #64:
There's a slight glitch with the new feature.
I have one real fieldset, which uses `order-3` to go last (4 tabs), and specifies the inlines for the three first tabs. When I first load the page however, the content of the first tab is that last tab! if I go to any other tab and back, it displays fine (the expected inline).
(I checked and the url is "clean", `...path.../id/change`
in

[2020-06-24 10:33] abidibo commented on #69
yeah, definitely a bug, I'll fix it very soon

[2020-06-24 11:07] abidibo commented on #68
Hi @etanter ,

that's quite easy indeed, you can choose the colour from which to fade in:

[code]
The problem at the moment is that you'll see the HTML background in the login screen, but in the next release (probably today) I'll fix that.

In the beginning, I was thinking about placing some sort of spinner, but then I decided not to do it because I should have forced a minimum interval of time (o

[2020-06-24 11:21] abidibo commented on #68
You can also control the transition interval:

[code]

[2020-06-24 12:35] etanter commented on #68
Hi @abidibo

Excellent, changing the background color smoothens the effect of the transition quite a lot.

Thanks again for your responsiveness, much appreciated!

[2020-06-24 14:31] #68 closed

[2020-06-24 15:58] #67 closed

[2020-06-24 16:08] abidibo commented on #69
fixed in baton 1.8.5

[2020-06-24 16:08] #69 closed

[2020-06-24 16:15] etanter commented on #64
works fine now, thanks!

[2020-06-24 16:18] etanter opened #70 "uncollapse inline entry when adding new one"
Hi,
Thanks for adding the possibility to collapse/expand individual entries in inlines (#65).

There's one small detail though, which is that when clicking on "add new xxx" in the inline list, the new one is also collapsed, which is a bit confusing for users. Is it possible to ensure that an entry being created is by default expanded? (while others are collapsed by default)

Cheers,
Éric

[2020-06-24 16:21] abidibo commented on #70
yeah I know this, but there's no "easy" way of doing it without overriding django js utilities, and that's something I prefer not to do. The problem is that the add button actually clones a hidden element, with all its attributes, and so will clone also the `collapsed` css class

[2020-06-24 16:25] etanter commented on #70
Oh, I see. Do you know how to "hack" this around? (not integrating the hack in baton, but just so that I can fix it locally)

[2020-06-24 16:27] etanter commented on #70
thinking out loud: if the behavior of `collapse-entry` would be "collapse all except the first", would that fix the problem because now django js would clone the (uncollapsed) first entry?

[2020-06-24 16:34] etanter opened #71 "from suit to baton: suit_form_includes"
I'm almost done with migrating my app from suit to baton. Just two pending issues. Here's the first.

Suit has a mechanism for the admin called `suit_form_includes`, which makes it possible to add fieldsets specified by arbitrary templates. See https://django-suit.readthedocs.io/en/develop/form_includes.html
(note that these can be used in combination with form tabs)

I haven't found a way to mimi

[2020-06-24 16:55] abidibo commented on #70
@etanter try the develop branch, should fix it

[2020-06-24 17:02] abidibo commented on #71
Actually this goes against baton's philosophy: "overwrite as few django templates as possible".
There is no way to add this functionality if not tweaking the `change_form` template. And that's exactly how you can do the same thing, not very handy, I admit.

[2020-06-24 18:08] etanter commented on #70
@abidibo just did `pip install https://github.com/otto-torino/django-baton/archive/develop.zip`, relaunched my django instance, hard-reloaded the pages, but no, still see the same problem.

[2020-06-24 18:08] etanter commented on #71
ok, thanks, I'll figure out some other way to do it.

[2020-06-24 19:10] etanter opened #72 "from suit to baton: suit_row_attributes"
Hi,
so here's the second thing I'm missing during my migration from suit to baton.
I'm afraid it might suffer the same fate as the first, but let's see ;)

Suit has this `suit_row_attributes` mechanism:
https://django-suit.readthedocs.io/en/develop/list_attributes.html?highlight=suit_row_attributes#list-row-attributes
which makes it easy to apply object-specific formatting in change lists.

Any id

[2020-06-25 08:59] abidibo commented on #71
@etanter ,
I finally decided to add such functionality, a bit differently though.
As you know, I don't want to modify the original template, but I found a way to just add something at the end of the template without messing with the change form template internals.

Will be released today with the version 1.9.0

[2020-06-25 08:59] #70 closed

[2020-06-25 08:59] #71 closed

[2020-06-25 09:04] abidibo commented on #70
@etanter ,
can you please try with the new release 1.9.0, it works fine for me

[2020-06-25 09:12] abidibo commented on #72
Hi @etanter ,
well, in the end, I've decided to implement the form includes functionality because I think it' very useful in some cases, and I found a way to do it without messing too much with the template. You can find the documentation in the Readme.
While for this issue, It's a bit harder to add this functionality without being too rude. I don't think I'll add it at the moment, I always use ot

[2020-06-25 11:18] etanter commented on #70
yes, it works perfectly! (I see also that now one can click anywhere in the header to expand, which is exactly what one wants)
Thanks!

[2020-06-25 11:40] etanter commented on #72
Hi @abidibo,
Cool for the form includes! For the row attributes, I understand. I could indeed use a column with icons. Btw, I can't manage to force a column width in the change_list to be exactly the width of the icon, and nothing more.
Setting the width in CSS as follows:
[code]
only forces the column to have fixed width (which is good), but it's way larger than 10px (in fact the value I put here

[2020-06-25 12:27] abidibo commented on #72
that probably depends on the width of the column header text. The amount of text controls the column width if does not fit in the desired width. Also the `.text` element which wraps the header anchor has some right padding to make space for the sorting icons, you need to remove it
[code]

[2020-06-25 13:13] etanter commented on #72
Great, thanks!!

[2020-06-25 14:20] etanter opened #73 "submit_line buttons do not arrange nice when shrinking width / viewing on phone"
Hi,

The submit_line buttons in change forms display nicely when there is space:
<img width="318" alt="Screen Shot 2020-06-25 at 10 16 32 AM" src="https://user-images.githubusercontent.com/1315554/85737248-36133200-b6cd-11ea-8b31-563f1e79c62a.png">

However, when shrinking space (or viewing on a phone), the buttons arrange weirdly:
<img width="376" alt="Screen Shot 2020-06-25 at 10 16 16 AM" src="

[2020-06-25 14:38] abidibo commented on #73
Is this a custom change_form template? Are you talking about the save_on_top option?
![Screenshot from 2020-06-25 16-38-21](https://user-images.githubusercontent.com/444093/85740939-4f82a100-b702-11ea-9f02-17149d465caa.png)
This is what I see

[2020-06-25 14:47] etanter commented on #73
yeah sorry, my post was a bit too "custom". I tried now with the standard template, and the problem I was observing comes from the fact that I removed the "save and add another" button by  commenting out the corresponding line in the template:
[code]
But in fact the space of the button is still taken by a white block. That's what makes it display weirdly, as it looks like it does not exploit all t

[2020-06-25 14:52] abidibo commented on #73
@etaner please post your submit_line template

[2020-06-25 14:57] etanter commented on #73
Here it is, the standard with two lines commented out:
[code]

[2020-06-25 14:58] etanter commented on #73
(anyway I realize this has nothing to do with baton, so feel free to just close the issue)

[2020-06-25 14:59] abidibo commented on #73
![Screenshot from 2020-06-25 16-58-33](https://user-images.githubusercontent.com/444093/85744354-20b9fa00-b705-11ea-8bc4-be936cded64a.png)

This is what I see in my demo app, maybe you have some other styles or custom stuff?

[2020-06-25 14:59] abidibo commented on #73
anyway, they are rendered vertically when below the bootstrap sm breakpoint of 767px

[2020-06-25 15:03] etanter commented on #73
it's hard to explain with words, a video would be simpler. Let's try: start with a large window, and then progressively shrink the width until you hit the breakpoint. You'll see that the break point is too early, because of this "reserved white space" for the missing button.

[2020-06-25 15:07] abidibo commented on #73
I know there are situations in which it comes too early, but we need rules, I don't know how many buttons are displayed, so I use default  bootstrap breakpoints to decide when to pass to a vertical layout

[2020-06-25 15:09] abidibo commented on #73
@etanter  what seems strange to me is that you miss vertical spacing between buttons

[2020-06-25 15:10] abidibo commented on #73
![Screenshot from 2020-06-25 17-10-26](https://user-images.githubusercontent.com/444093/85746498-c883f780-b706-11ea-9e6c-c7d522cd7f38.png)
This is what I see with some custom buttons

[2020-06-25 15:13] etanter commented on #73
yeah, that vertical space thing is a bug on my side, but I've decide to rollback to the standard style of buttons here. So there's only this early breakpoint stuff (could it be a parameter?).

[2020-06-25 15:19] abidibo commented on #73
No it can't from baton side, but of course, you can override the behaviour applying media queries to the `.submit-row` element.

[2020-06-25 15:22] abidibo commented on #73
I personally use only bottom submit row, and I don't dislike to have the buttons vertically aligned if all centred and well-ordered

![Screenshot from 2020-06-25 17-21-03](https://user-images.githubusercontent.com/444093/85748480-63310600-b708-11ea-97c4-6eb6c2fe2b1b.png)

[2020-06-25 15:27] etanter commented on #73
yes, it's true that with the proper layout given by these same-width buttons, the vertical alignment is nice instead of awfully irregular as in my original post!
so I'll stick with what I have by default, it's fine indeed.
Thanks a ton for your time and feedback!

[2020-06-25 15:27] #73 closed

[2020-06-25 16:05] etanter commented on #72
ok, coming back to this: I'm trying to get the width of a column to match an icon, and nothing more.
Here's what I have:
![image](https://user-images.githubusercontent.com/1315554/85755246-c48eb000-b6db-11ea-93c5-efd25ee2dba5.png)
despite the fact that the header has an empty string title, and that the content is really just the pic (I also tried with just a letter 'X', same result).
In CSS I'm se

[2020-06-25 16:07] etanter commented on #72
if I put `padding: 0px !important;` then the icon is really stuck to the border on the left (good), but the right remains too wide:
<img width="38" alt="Screen Shot 2020-06-25 at 12 07 00 PM" src="https://user-images.githubusercontent.com/1315554/85755930-61514d80-b6dc-11ea-9b88-8f592d872e1a.png">

[2020-06-25 16:15] abidibo commented on #72
![Screenshot from 2020-06-25 18-13-41](https://user-images.githubusercontent.com/444093/85757289-a04cc680-b70f-11ea-8574-873e12886b6e.png)

[code]

These rules do the job for me

[2020-06-25 16:21] etanter commented on #72
yup, it works! Thanks again!

[2020-06-25 16:21] #72 closed

[2020-06-25 17:55] etanter opened #74 "html tooltips not showing"
Hi,
I just realized that the tooltips I have on some table elements are not showing since I migrated to baton.
Those are simple `title=` attributes on the html elements, like `td`.
How do I get these to show?
thanks!

[2020-06-25 19:39] etanter opened #75 "messagelist margin bottom"
Hi,
When successfully saving an object, the admin displays a message, which is displayed with a weird white margin:
![image](https://user-images.githubusercontent.com/1315554/85787393-52c55f00-b6f9-11ea-8917-5ab641d22698.png)
I've tried to play around with css to make it disappear, but to no avail.

I can make it bigger!
[code]
but putting `0rem` makes the actual margin disappear (I can see that w

[2020-06-26 04:56] linhnvhicts opened #76 "baton 1.8.5 add div box around each field in admin ?"
I recently upgrade baton from version `1.5.8` to `1.8.5` and these background boxes start appearing around each field on the change form

version 1.5.8:

![Screen Shot 2020-06-26 at 11 53 57 AM](https://user-images.githubusercontent.com/46511495/85821921-dd629880-b7a3-11ea-935e-3afefb881d88.png)

version 1.8.5:

![Screen Shot 2020-06-26 at 11 55 36 AM](https://user-images.githubusercontent.com/465

[2020-06-26 06:34] abidibo commented on #76
Hi @linhnvhicts ,
the new baton versions come with this bg to increase readability. You can disable it by overriding a simple css rule:

[code]

[2020-06-26 06:35] #76 closed

[2020-06-26 06:36] abidibo commented on #75
Hi @etanter ,

can you provide more info, or a larger screenshot, I don't get where this happens:

![Screenshot from 2020-06-26 08-35-57](https://user-images.githubusercontent.com/444093/85828208-24429500-b788-11ea-9a35-ad59d8301dcc.png)

[2020-06-26 06:40] abidibo commented on #74
More info needed, how do you set such title attributes? It seems to work for me:

![tooltip](https://user-images.githubusercontent.com/444093/85828399-9e731980-b788-11ea-95e0-015e1638fa02.png)

![Screenshot from 2020-06-26 08-39-37](https://user-images.githubusercontent.com/444093/85828385-987d3880-b788-11ea-92c9-053709d68bf4.png)

[2020-06-26 12:00] etanter commented on #74
I do the same, with the title attribute:
<img width="422" alt="Screen Shot 2020-06-26 at 7 59 36 AM" src="https://user-images.githubusercontent.com/1315554/85854754-fdce2b00-b782-11ea-8ff4-72d8337f60a2.png">

[2020-06-26 12:05] etanter commented on #75
Here it goes. I noticed that it's displaying on the whole width of the page instead of just below where the breadcrumbs would be (I comment these out in the templates).

![image](https://user-images.githubusercontent.com/1315554/85855145-c6ac4980-b783-11ea-9d75-64309244bf29.png)

[2020-06-26 12:28] abidibo commented on #75
@etanter  this shouldn't happen with the django default templates. It's the same thing that happens with django-filer.
Have you got any custom template?

[2020-06-26 12:30] abidibo commented on #74
No idea, baton doesn't do anything with title attributes. You should set up a working example which reproduces the error.

[2020-06-26 12:35] etanter commented on #75
yeah, quite a bit... I'll investigate which template is causing the problem

[2020-06-26 12:45] abidibo commented on #75
Baton moves the messagelist div after the `#content > h1` title. In django filer such `h1` is missing. Maybe your problem is similar

[code]

[2020-06-26 12:46] abidibo commented on #75
![Screenshot from 2020-06-26 14-45-37](https://user-images.githubusercontent.com/444093/85858333-c039c400-b7bb-11ea-971b-61c7e7ff9b09.png)

The title is "select news to change"

[2020-06-26 12:59] etanter commented on #75
I solved it by moving the block `messages` in the base template to into the `content` div.
not sure why it wasn't there in the first place, but now the messagelist displays within that part (instead of the whole width), and has no weird border.
Thanks for pointing me to the right place!

[2020-06-26 12:59] #75 closed

[2020-06-26 13:03] abidibo commented on #75
ok that's a solution, but if you have a #content>h1 element, then baton moves it for you

[2020-06-26 13:07] etanter opened #77 "refresh layout on window resize"
Hi,
I noticed that whenever I resize the browser window, the overall layout is broken, until I manually reload.
This clearly manifests when one extends the window size horizontally beyond the footer: the new space is just a white block.
Is there a good way to fix this?
Thanks!

[2020-06-26 13:11] etanter commented on #75
yeah, indeed, that h1 is commented out (I'm using several tweaks to make the style more compact, so no breadcrumbs, no "Menu" box on the sidebar, etc. - and that content/h1 is commented out for the same reason)

[2020-06-26 13:18] etanter commented on #74
ok, I'll keep trying to figure out what's going on.

[2020-06-26 14:17] #74 closed

[2020-06-26 14:17] #77 closed

[2020-06-26 14:19] abidibo commented on #74
I've activated bootstrap tooltips on all `[title]` elements. Also `Baton` js object instance has a `loadTooltips` method which can be called to refresh tooltips if any are added after page load

[2020-06-26 14:20] abidibo commented on #77
It's the menu that autosizes at page load, now I've added autoresizing on window resize, and I'll keep this fix unless it will reduce performance, install baton 1.9.2

[2020-06-26 14:33] etanter commented on #77
works perfectly, thanks!!

[2020-06-26 14:36] etanter commented on #74
it works now! excellent!! thanks again^n ;-)

[2020-06-28 20:48] etanter opened #78 "expand collapsed inline when there is an error"
Hi,
When there's an error in the data, the correct tab is activated, but if the error is in an inline, it is collapsed. Would it be possible to expand the guilty inline?
Thanks,
Éric

[2020-06-29 21:59] etanter commented on #78
Great!
On a related note (I can open another issue if you think it's better), would it possible to have a mode that collapses all-but-the-first inline?

[2020-06-30 14:37] etanter opened #79 "Feature suggestion: collapse all-but-first inlines"
Regarding collapsed inlines, it would be great to have a mode that collapses all-but-the-first inline

[2020-07-02 09:29] #78 closed

[2020-07-02 09:29] #79 closed

[2020-07-02 09:35] abidibo commented on #79
Add also the class `expand-first` with the `collapse-entry`

[2020-07-03 12:41] etanter commented on #79
excellent, thanks!

[2020-07-09 04:09] linhnvhicts opened #80 "Access object of each inline within template of baton_form_includes"
I really like the new Form Includes feature, but i notice it only work with normal field ModelAdmin

Is there anyway to use it with  admin Inline ? and the `{{original}}` in the template will be each object of the inline
Thank for reading :)

[2020-07-09 04:19] linhnvhicts commented on #80
oh i found out, instead of using `baton_form_includes`, i can use in ModelAdmin of the main object like normal and use inline fields

Still can't figure how to access the object of each inline object in template :(

[2020-07-10 10:18] abidibo commented on #80
Hi @linhnvhicts ,

I think I've not understood properly what you're trying to achieve, can you please elaborate more and add an example, thanks

[2020-07-12 04:16] linhnvhicts commented on #80
I know from the document that i can access object in  the change form from {{ original }}. So if i use an inline field in django baton form include , how do i access each inline object ?

[2020-07-13 00:10] etanter opened #81 "base url not considered for (some) admin statics"
Hi,

baton seems to keep trying to get some static media (in that particular case, `admin/img/sorting-icons.svg`) by referring to the domain root (eg. `https://mywebsite.com/static/...`), instead of considering the `BASE_URL` parameter from the admin `settings.py` file.
or is there some baton specific parameter to set?

thanks!

[2020-07-13 13:24] etanter opened #82 "problem with select2"
Hi,
Not sure if this is directly related to baton or not. But it might, and if not, maybe you have an idea of what's going wrong here...

I'm using `django-select2` together with `baton`, in order to provide nice choice/related widgets.
Whenever possible with Django admin (2.2) I use the `autocomplete_fields` feature, but this only works for fields that are foreign keys, not for choices, so for th

[2020-07-19 13:31] AliPolat opened #83 "Date hierarchy field name display"
Is it possible to display date hierarchy field name beside date values so that user can get meaning of hierarchy..
Thank you..

[2020-07-21 12:39] abidibo commented on #83
Hi @AliPolat m
unfortunately this isn't possible without overriding django stuff, and I don't want to. But you can do it, take a look at:
- `contrib/admin/templatetags/admin_list.py` `date_hierarchy` function
- `contrib/admin/templates/admin/date_hierarchy.html`

[2020-07-21 12:39] #83 closed

[2020-07-21 13:50] abidibo commented on #82
Hi @etanter ,
it has something to do with the fact that baton also includes jquery in its bundle, and the order in which baton and other js resources are defined. The problem disappears if you invert the order, for example change a bit the `admin/base_site.html`:

(notice the `blockbots` instead of `extrahead`)

[code]

I'm using jquery in baton only for browser support. It's still quite a nightma

[2020-07-21 14:02] etanter commented on #82
Thanks @abidibo - I think this patch via `base_site.html` is good enough for me. I understand that it's likely not something you want to address per se in baton.

[2020-07-21 14:02] #82 closed

[2020-07-21 14:09] abidibo commented on #80
@linhnvhicts I see,

short answer: you can't.

The includes are managed as js templates places at the end of the `change_form.html` template. So they can access the context of the change_form template, but cannot access the internal context inside the inline. I mean, you can access the `{{ original }}` inlines, but you cannot access any single inline in its position because the template is just on

[2020-07-21 14:13] abidibo commented on #80
I'm closing for now, because not a bug but an enhancement that probably will not be included soon in a release, because I can't see a way to implement it without overriding too much stuff, and I don't want to

[2020-07-21 14:13] #80 closed

[2020-07-21 14:22] abidibo commented on #81
Should be fixed in develop, I need to compile also django images in the bundle to address this

[2020-07-21 14:28] etanter commented on #81
ok, thanks! looking forward to next release ;-)

[2020-07-21 14:35] abidibo commented on #81
well, this will fix all django images included in css that won't have anymore a `/static/` prefix. But baton's svg and fonts will still be served from `static`, that because I need to know the proper URL before compiling the bundle, if this is a problem for you, you can edit the `webpack.config.babel.js` file and recompile the app:

[code]

[2020-07-21 18:25] etanter commented on #81
I see, thanks for the info. Not sure if this recompilation is viable for my purposes, but I'll look into it.

[2020-07-21 18:25] #81 closed

[2020-08-15 09:42] AliPolat commented on #76
Thank you. Sometimes it is nice to disable this feature. But how about the spacing between fields. It remains the same. Is it possible to decrease this padding by the same css rule overriding ?

[2020-08-15 13:21] etanter opened #86 "is it possible to revert the user menu, or compress it a lot?"
Hi,
For a menu-intensive app, the new design of the user menu (with icon, change passwd, logout) is way too space consuming and too "visually intense". Is there a template to customize to design a more minimal version (more akin to the prior, discrete design)?
Otherwise, I can just hide it with `display: none` in CSS and find a way to put the link to logout/change pwd in some other place, of cours

[2020-08-16 14:51] AliPolat opened #87 "Tuning Horizontal and vertical spacing between fields."
Some users request to get more information on the screen at first sight.

Is it possible to tune spacing between fields in the admin change page without breaking the rules of django baton such as the below solution.

Thank You.

Hi @linhnvhicts ,
the new baton versions come with this bg to increase readability. You can disable it by overriding a simple css rule:

[code]

_Originally posted by @abi

[2020-08-19 00:29] simonwiles opened #89 "Inline tabs broken on update to django 3.1"
On updating to `django==3.1` today, and inline form tabs are broken -- I can change from the default tab to a second tab, but not back again.  I've tried with `django-baton==1.9.2` and `django-baton==1.10.8`, and have the same problem in either case.  Both of these versions work just fine with `django==3.0.9`.

Any idea what might be up?

[2020-08-24 09:59] Flewerty commented on #89
Same issue.
That is because of duplicate of div with ids "main".
In Django 3.1 in admin templates in base.html div tag with "main" is already exist:
`<div class="main shifted" id="main">`

So I think it's need to be renamed in next commit: first default tab to something another not "main" id name.

For me the fast solution without changing of module that is overwriting of Baton template base_site.

[2020-08-25 04:54] simonwiles commented on #89
Yep, that's it, thanks for uncovering that.  I've raised PR #90 to address the problem.

[2020-08-30 08:25] abidibo commented on #89
Ok guys, thanks. I'll merge it next week

[2020-08-30 08:26] abidibo commented on #87
Hi @AliPolat ,

can you try something like:

[code]

[2020-08-30 08:30] abidibo commented on #86
Hi @etanter ,

we decided to follow this new layout design which is great for our kind of applications. I'll see if I can add some options for moving the links in the footer. Supporting both layouts (user menu in the topbar or in the sidebar) can add too complexity, I'll think about it.

[2020-08-30 11:11] #87 closed

[2020-08-30 11:12] AliPolat commented on #87
Thank you..

[2020-08-31 07:48] #89 closed

[2020-09-01 08:17] linhnvhicts opened #91 "suggestion: Form Includes support right side of input field"
Hi, i really like this feature but i wonder if it's possible to add the `right` option too, i made a custom button to do action on specific field and i would like it to line up within the field row (preferably on the right side of input field)?

[2020-09-02 08:37] #91 closed

[2020-09-04 03:27] linhnvhicts opened #92 "Allow font to be changed in baton config"
Hi i know that i can change the font of baton following this step https://github.com/otto-torino/django-baton/issues/45
But it's kinda hard on step 2 to navigate to the css file (especially on virtual env).
Would be nice to just set the font by name in the baton config 😄

[2020-09-07 07:04] blemoine167 opened #93 "Filtered lists are truncated"
Hello,

In a django 3 application, after following your configuration directives, i have a problem with the display of model lists. A css rule is still applied :
<img width="1075" alt="Capture d’écran 2020-09-07 à 09 01 39" src="https://user-images.githubusercontent.com/7974584/92357809-c1a33900-f0e8-11ea-9421-d928dff58b79.png">

The margin is truncating the list, hiding the last columns.
Did i

[2020-09-07 08:22] abidibo commented on #92
Hi @linhnvhicts ,
this isn't something I'll introduce, because the font configuration is CSS stuff, too bad to apply the rule through javascript. As it is CSS stuff, I cannot set a runtime variable to handle this. There would be 2 possibilities here:

- apply the font rule through js (I don't like it)
- insert a style block in the template as per the method 1 of #45

This second possibility is som

[2020-09-07 08:26] linhnvhicts commented on #92
@abidibo I got it thank you for explaining, i will follow step 1 of that to change the font

[2020-09-07 08:26] #92 closed

[2020-09-07 08:35] abidibo commented on #93
Hi @blemoine167 ,

I cannot reproduce this bug. The problem here seems to be the following: when asking for `admin/changelists.css` file, the one served is not the one included in Baton. That's weird, because as I can see from your `INSTALLED_APPS` baton id correctly defined before the `django.contrib.admin` application.
Have you got some other `changelists.css` files in other apps? Maybe a path p

[2020-09-07 11:38] blemoine167 commented on #93
Hello,

thank you for your answer, i did override the css rule with my own css but now... when i remove my override i cannot reproduce the bug. Maybe it was some cache glitch... Sorry for the disturbance. All is working well now.

[2020-09-07 11:38] #93 closed

[2020-09-09 20:24] avere001 opened #94 "Input fields wrap seperately from labels"
At this screen width, both the state and cell phone field labels are not next to their inputs:
![image](https://user-images.githubusercontent.com/5581459/92648891-07a1fd80-f29f-11ea-944b-4d7e046aa92a.png)

Here is another example of the weird wrapping:
![image](https://user-images.githubusercontent.com/5581459/92648775-d1647e00-f29e-11ea-8770-185411a0c5e5.png)

This is the relevant part of fieldse

[2020-09-09 20:31] abidibo commented on #94
Yeah, this is a problem with fields in the same line, two fields are supported, more fields can lead to weird behaviour. Fields in the same line is something we use rarely. I'll look into it.

[2020-09-09 20:45] avere001 commented on #94
Okay thank you. In the meantime, is there any way to reduce the spacing between two rows to make it look like the address fields are still in a group?

[2020-09-09 20:48] abidibo commented on #94
I would use Baton grouped tabs feature: you can create a tab with two or more fieldsets, just place all the "address like" fields in the same fieldset

[2020-09-09 20:49] abidibo commented on #94
Also I'll really look into it, but I'm not sure I'll fix this, I'm seeing that also the default django admin is somewhat bad looking with many fields in the same line, it's not easy to be responsive in an efficient way, we'll see...

[2020-09-09 23:38] avere001 commented on #94
Thank you for your help. It took me awhile to figure out the tab fieldset groups, but that works perfect for me.

I did notice however that this sometime happens with only the two columns, but it is much harder to get the specific screen widths at which this happens.

[2020-09-10 21:01] etanter commented on #86
Hi @abidibo, thanks for the consideration, I hope this turns out to be feasible!

[2020-09-22 14:11] etanter commented on #86
@abidibo do you have any update on this? thanks

[2020-09-25 17:39] abidibo commented on #86
Hi @etanter , I'm quite busy at the moment and dealing just with bugs. But I'll look into it whenever possible

[2020-09-25 19:59] etanter commented on #86
Thanks, for now I decided to rollback and stick to 1.9.3. I'll stay tuned!

[2020-10-01 23:29] etanter opened #97 "inline expansion bug with expand-first"
I'm using `'collapse-entry expand-first'` for my inlines. When an error occurs in an inline, the page displays all inlines collapsed, instead of expending the faulty one. This happens irrespective of whether the error is in the first inline or another one.

If I don't use collapsed inline, then the behavior is correct. I use only `'collapse-entry'`, again the behavior is correct (even if the fault

[2020-10-02 21:10] avere001 opened #98 "Allow always open filter"
For the non-modal filter, can you add an option to remove filter toggle button please?

[2020-10-06 16:26] etanter opened #99 "toggling collapsed inline"
Hi, currently the toggle for collapsed inline has two main "zones": one is the blue eye icon, and the other is the whole header. The whole header is very practical as a way to toggle inlines, but there are currently two issues:
- first, there is no visual cue that the header is in fact clickable (some change in color on hover would help suggesting that it can be clicked)
- second, the inline label

[2020-10-08 12:30] abidibo commented on #99
Hi @etanter ,

I've pushed some changes in the develop branch.

I've added a cursor pointer on the whole header

It doesn't happen to me, which browser?

I don't like the visual effect of having the icon on the left side

ref 06b41e679725213968f9a2624fc660c170d1b905

[2020-10-08 12:37] etanter commented on #99
I'm on Chrome (on mac OS), but note that I'm on baton v1.9.3 (because of #86, sticking to the old user menu bar)

regarding the blue eye, if you leave it on the left, could it come before the Delete checkbox instead of after?

[2020-10-08 12:42] etanter commented on #99
(I observe the click-but-not-expand behavior on the inline title in both Chrome and Safari)

[2020-10-08 13:28] abidibo commented on #99
Quite strange, this commit (https://github.com/otto-torino/django-baton/commit/75a916b19a73535b5ad62ec2358b057341523e6a) should have fixed it

[2020-10-08 13:30] etanter commented on #99
I just tried with the develop branch (via `pip install "git+ssh://git@github.com/otto-torino/django-baton.git@develop"`), and I see the icon on hover (great!) but still have the problem that clicking the title does not trigger anything.

[2020-10-08 13:35] abidibo commented on #99
I don't like the eye icon on the left, this is why:

![Screenshot from 2020-10-08 15-32-33](https://user-images.githubusercontent.com/444093/95465704-c115f080-097b-11eb-86f5-cf51d44fe447.png)

What I can do, is to separate a bit more the icon from the delete checkbox:

![Screenshot from 2020-10-08 15-33-54](https://user-images.githubusercontent.com/444093/95465764-d5f28400-097b-11eb-9bb1-5d1185693

[2020-10-08 13:39] etanter commented on #99
oh I see, hadn't thought about cases where Delete isn't present. Good point. Yes, a bit more distance is good

[2020-10-08 13:42] abidibo commented on #99
@etanter , I've just tried with chrome and safari with a mac mini and a MacBook pro and I can't reproduce the click on label issue.
If you inspect the dom, can you see the `.entry-collapse-full-toggler` as a label parent?

[2020-10-08 13:50] etanter commented on #99
yeah, I was tracking it down, and realized it's due to some modification of the `edit_inline/stacked.html` template. I'll look further into the details, but clearly the problem is on my side :/

[2020-10-08 14:07] etanter commented on #99
It was because I added a span to add a tooltip, and that breaks the overall link. I changed the span, adding a separate info icon and limiting the tooltip to that icon, and it's back to normal.
Sorry for the noise, and thanks for adding the cursor pointer!

[2020-10-08 14:07] #99 closed

[2020-10-08 15:08] abidibo commented on #86
I ended up with implementing an expand/collapse functionality, possibly this is the best I can do, I hope it helps

![Screenshot from 2020-10-08 17-03-35](https://user-images.githubusercontent.com/444093/95477401-9716fb00-0988-11eb-8480-50f9dfa748f0.png)

![Screenshot from 2020-10-08 17-03-41](https://user-images.githubusercontent.com/444093/95477410-99795500-0988-11eb-845a-2f76c59eeeeb.png)

[2020-10-08 15:31] #94 closed

[2020-10-08 15:31] #98 closed

[2020-10-08 15:31] #86 closed

[2020-10-08 15:31] #97 closed

[2020-10-08 19:15] etanter opened #100 "tooltips in new inline"
Hi,
Not sure if that is directly related to baton, but it might. For some reason, tooltips (eg. via `<span title="here it goes">blah</span>`) do not display in the "add new inline" form. It works fine if adding a model via its change form, it also displays fine in a saved model inline, but not in the last inline.

FYI, I'm adding an info icon next to fields that have a `help_text` in order to disp

[2020-10-08 23:52] avere001 opened #101 "Inline change link uses a Font Awesome Pro icon"
The `.inlinechangelink::before` element shows as an empty box without Font Awesome 5 Pro.

I recommend switching to either the edit icon `\f044` or the alt-pencil icon `\f303`.

![image](https://user-images.githubusercontent.com/5581459/95524604-a9903500-0986-11eb-948e-3664cb99eaf0.png)

[2020-10-09 08:21] abidibo commented on #100
Have you tried to use just `jQuery`? Baton exports it globally (attached to the `window` object).

[2020-10-09 08:26] abidibo commented on #101
Ok thanks,

now using \f304 because already used in other contexts

[2020-10-09 11:42] etanter commented on #100
Indeed, calling `jQuery('.last-related .info-icon').tooltip()` in the JS console fixes the problem.

However I don't know how to trigger it at the appropriate time. If I put the code at the end of the `content` block, I guess it runs "too early" because it has no effect. I tried using `$(document).ready(...)` to delay it, but the same happens (loads, but no effect).
Maybe I should register this on

[2020-10-09 11:52] abidibo commented on #100
if the new form is created on the fly through, then you can't know when it was inserted in the DOM. Unfortunately, there isn't a proper callback fired at the right moment. I don't think baton onReady will do the job here, indeed Baton itself initializes all tooltips.
Maybe you'll be forced to use some sort of timeout delay

[2020-10-09 14:01] etanter commented on #100
thanks, I'll keep looking for a way to trigger it when appropriate (maybe when the "add another X" button is clicked).

[2020-10-09 14:01] #100 closed

[2020-10-09 16:39] avere001 commented on #101
Perfect, thank you

[2020-10-09 16:39] #101 closed

[2020-10-09 16:42] avere001 opened #102 "Question regarding pull requests"
When we submit a pull request, would you like us compile and include the baton.min.js?

[2020-10-09 18:25] abidibo commented on #102
Well, it's up to you, in any case, when I check the changes made, I recompile the app

[2020-10-09 20:09] etanter commented on #100
I found it, leaving it here if someone faces the same problem:
[code]
based on that: https://docs.djangoproject.com/en/dev/ref/contrib/admin/javascript/#inline-form-events

[2020-10-09 20:47] abidibo commented on #100
@etanter ,
great! good to know

[2020-10-11 22:17] #102 closed

[2020-10-16 22:38] etanter opened #103 "collapsed fieldsets and inlines"
Hi,
If I use `'collapse'` as a fieldset class, the style doesn't fit with the other fieldsets, eg:

<img width="261" alt="Screen Shot 2020-10-18 at 10 40 33 AM" src="https://user-images.githubusercontent.com/1315554/96369094-5b212a00-112e-11eb-875f-36646bd9ad4c.png">

On the other hand, adding `classes = ['collapse']` to an Inline does not have any effect (in some cases I see the change in color,

[2020-10-18 13:45] etanter commented on #103
just to add a bit: even when the collapsed fieldset is expanded, the style does not match that of normal fieldsets:
<img width="299" alt="Screen Shot 2020-10-18 at 10 45 28 AM" src="https://user-images.githubusercontent.com/1315554/96369215-0b8f2e00-112f-11eb-8cb9-03409535c4fa.png">

[2020-10-18 13:46] etanter commented on #103
also, it would be great if the "show/hide" text would be the same open/closed eye icon you're using for collapsible entries.

[2020-10-19 23:17] avere001 opened #104 "Styling of errors broken for multi-column rows"
The styling of field errors on the change form is broken for any rows that have multiple columns. See image below.

![image](https://user-images.githubusercontent.com/5581459/96521461-30b29800-1226-11eb-96f5-1ccd66b13748.png)

[2020-10-21 18:13] iddqd1 opened #105 "Dynamic menu confuguration"
Is it possible to build dynamic menu? For example list categories current user has right?

[2020-10-21 18:32] iddqd1 commented on #105
Easy answer is to edit and change app_list admin/base_site.html

[2020-10-22 10:13] abidibo commented on #105
Hi @iddqd1 ,
at the moment the menu configuration is static because in the `settings.py` file.

If you need some logic, you can override the baton view: the `GetAppListJsonView` is responsible for returning a json object used to populate the sidebar menu. You can override it and declare the matching URL before baton include, see https://github.com/otto-torino/django-baton/blob/master/baton/views.p

[2020-10-22 13:07] abidibo commented on #104
Ok,
no way I can keep this functionality while keeping the first wrapped field left aligned as the other not wrapped fields.

I'll remove the wrapped fields background and keep them aligned to the left while keeping a box behaviour

[2020-10-22 13:45] #103 closed

[2020-10-22 13:45] #104 closed

[2020-10-28 17:28] etanter commented on #105
Hi all,
I'm also facing this need. I've done what @abidibo suggests, and it seems to work fine.
Maybe it'd be better if `GetAppListJsonView` would expose a hook instead of hardcoding the call to `get_config('MENU')`.
For instance, the corresponding line could be:
[code]
with a default implementation of `get_menu` that calls `get_config('MENU')`.
Then our customizations would just need to override

[2020-11-01 01:02] farooqaaa opened #106 "Extra whitespace on the right side in Django 3.1.2"
There's an extra whitespace on the right side in Django 3.1.2.

Here's a screenshot:

![image](https://user-images.githubusercontent.com/930117/97792960-1786ef80-1c07-11eb-86b5-51a32f8c6185.png)

The CSS code that causes is inside Django Admin's [nav_sidebar.css](https://github.com/django/django/blame/8ee4bb6ffcb3346c0fa8fb194986fbf9edadc822/django/contrib/admin/static/admin/css/nav_sidebar.css#L1

[2020-11-01 10:09] abidibo commented on #106
Hi @farooqaaa , which baton version?

[2020-11-01 13:44] farooqaaa commented on #106
I am on the stable version (1.12.1).

[2020-11-02 08:09] abidibo commented on #106
@farooqaaa ,
actually, the demo app is on Django 3.1.2, and I saw the issue you're reporting, and it was caused by some CSS modifications due to the new Django sidebar menu, which now Baton disables, as you can see in this commit:

https://github.com/otto-torino/django-baton/commit/47112a0ba5f21334dc92926d73cd75f8d48d376f

Without this addition the problem is reproducible, but without it, I cannot

[2020-11-02 14:07] farooqaaa commented on #106
That's great then. Thank you

[2020-11-02 14:07] #106 closed

[2020-11-04 00:04] farooqaaa opened #107 "Hide GeoDjango bounds fields"
Is it possible to hide GeoDjango bounds fields?

The bounds field is hidden by default in default Django admin but it's visible in baton:

![image](https://user-images.githubusercontent.com/930117/98053689-f9b1c880-1e5a-11eb-8092-166616d05f54.png)

[2020-11-04 13:27] etanter opened #108 "hand icon hover for collapsable fieldset"
Hi,
I just noticed that for a collapsable fieldset, the "hand icon" on hover, to indicate that it can be clicked, is not restricted to the fieldset title bar (as it should) but it also covers the whole fieldset.

[2020-11-04 23:25] farooqaaa commented on #107
**More details:**

Here's what the field looks like:

`<textarea id="id_fieldname" class="vWKTField required" cols="150" rows="10" name="fieldname"></textarea>`

I have fixed it by adding the following to my CSS:

[code]

[2020-11-10 10:06] etanter opened #109 "collapsable stacked inline icon in read-only mode"
Hi,
When a user has only read permission to a model and its inlines, the blue eye icon (which I assume is normally positioned using the delete button, now missing) is no longer aligned on the right of the inline title, but stuck next to it:
<img width="251" alt="Screen Shot 2020-11-10 at 7 04 10 AM" src="https://user-images.githubusercontent.com/1315554/98659749-3847f700-2323-11eb-889f-dbd061126c7

[2020-11-12 16:21] abidibo opened #110 "check menu view, when splitting auth app and with logged user with add user permission but not change"
[code]

[code]

[code]

[code]

[2020-11-12 16:39] abidibo commented on #110
Not Baton fault

[2020-11-12 16:39] #110 closed

[2020-11-17 12:44] abidibo commented on #107
I think this is an acceptable solution, I don't get why it's hidden in django admin by default, because the `vWKTField` class is not defined.

[2020-11-17 13:09] #105 closed

[2020-11-17 13:09] #108 closed

[2020-11-17 13:09] #109 closed

[2020-11-17 14:09] farooqaaa commented on #107
It's not part of Django's CSS files. They use inline CSS for that. You can check it here:
https://github.com/django/django/blob/6014fd89b3391d72c2e35cb1c6caaed059a51b41/django/contrib/gis/templates/gis/admin/openlayers.html#L7

[2020-11-17 15:02] etanter commented on #109
I just tried 1.12.2 and this is still there, and in fact worse now, because when the delete permission is there, the delete box is now stuck to the left as well. It is much better when these icons are stuck to the right, since then the alignment does not depend on the text of each inline.
<img width="637" alt="Screen Shot 2020-11-17 at 12 02 23 PM" src="https://user-images.githubusercontent.com/13

[2020-11-17 15:03] etanter commented on #109
It used to be:
<img width="690" alt="Screen Shot 2020-11-17 at 12 03 34 PM" src="https://user-images.githubusercontent.com/1315554/99406678-f0017980-28cc-11eb-8d28-627bd9fa6d62.png">

[2020-11-17 15:06] abidibo commented on #109
actually is displayed correctly in the demo application, I've given left margin auto to the label. Can you provide a fullscreen screenshot and also a screenshot of the web inspector of the fieldset > h3 please?

[2020-11-17 15:15] etanter commented on #109
<img width="961" alt="Screen Shot 2020-11-17 at 12 13 51 PM" src="https://user-images.githubusercontent.com/1315554/99407890-5cc94380-28ce-11eb-8aa6-3319f956148b.png">

<img width="767" alt="Screen Shot 2020-11-17 at 12 13 30 PM" src="https://user-images.githubusercontent.com/1315554/99407852-51761800-28ce-11eb-871e-5082e79429d8.png">

<img width="456" alt="Screen Shot 2020-11-17 at 12 14 46 PM" s

[2020-11-17 15:36] abidibo commented on #109
Have you got a custom fieldset template? I can't see the `inline_label` class which is responsible for adding the auto margin on the right

![Screenshot from 2020-11-17 16-36-27](https://user-images.githubusercontent.com/444093/99410699-133f1f80-28f3-11eb-96f1-63614535d7a3.png)

[2020-11-17 15:39] etanter opened #111 "how to ensure proper highlighting of selected voice in menu?"
I have a customized menu with the following:
[code]
when I click on Home, the voice is highlighted as expected:
<img width="227" alt="Screen Shot 2020-11-17 at 12 35 21 PM" src="https://user-images.githubusercontent.com/1315554/99410558-5dafa480-28d1-11eb-8187-6f3f1c000a06.png">

but when I click on Información, the voice isn't highlighted:
<img width="216" alt="Screen Shot 2020-11-17 at 12 35 53

[2020-11-17 15:49] etanter commented on #109
yep, that was it! I indeed have custom templates all over, which is a bit fragile...
I added the `inline_label` class and it works.
Thanks!

[2020-11-17 15:59] abidibo commented on #111
Well, in case o free voice, the menu voice is highlighted if the location pathname is equal to the voice URL:

[code]

for other voice types, the check is done with a regular expression, and the voice is considered active if the pathname includes the URL:

[code]

[2020-11-17 16:50] etanter commented on #111
that's what i had inferred, and feared, because this is a bit too rigid for my needs...
Would it be possible to have a way to set an option in the voice to ask the highlight to be "sticky"? meaning, when you click on it, it's highlighted, and will stay so until you click on another one.

Otherwise, the thing I can think of is calling a custom view instead of the change form, but then I don't know

[2020-11-17 17:18] etanter commented on #111
I tried using a `model` voice type, and it seems to work fine except for one thing: I don't know how to go a *specific* instance. For instance, the Información voice should open the change_form of the current person (as per a session variable).
Is that already supported?

If not, could you add an `'args'` attribute for `model` voice, so that it doesn't go to the change list, e.g.:
[code]
(the args

[2020-11-17 17:22] etanter commented on #111
I understand that in the standard scenario where you set the baton menu once and for all in settings.py, it does not make sense to support what I'm asking, but it does make sense related to dynamic menu configuration (#105). Once you do that, then it becomes possible to have voices that point to a specific model instance, as above.

[2020-11-24 14:49] etanter commented on #111
@abidibo do you think that's feasible? or is there a better way to do what I'm after? Thanks!

[2020-11-24 15:00] abidibo commented on #111
Yes it is, I think about adding a regexp prop to the free voice dict, used to evaluate if the voice should be considered active or not. I'll look into it in the next days, at the moment I'm totally absorbed from deep functional programming studying

[2020-11-24 15:26] etanter commented on #111
great, thanks!
good luck with your studying (let me know if there is anything about FP that's not clear - it's my research area ;-))

[2020-11-27 12:09] AliPolat opened #112 "Boolean field alingment may be more smooth"
If two boolean fields are grouped together,  alingment of them slides a bit with respect to other fields. Such as these two fields "Invoice sent" and "Invoice paid";

without grouping
![pic1](https://user-images.githubusercontent.com/1778756/100447813-49825900-30c2-11eb-81a2-5a43ac1bcc4a.png)

with grouping together
![pic2](https://user-images.githubusercontent.com/1778756/100447824-4edfa380-30c2-

[2020-11-27 12:14] abidibo commented on #112
Yes, I know, I can do nothing about it. In the previous versions I kept the left alignment, but then we have problems if some error occurs because we cannot have a proper alignment of error messages. Wrapped fields are a nightmare to style properly, and unfortunately, this is the best I could do. The left spacing is dynamic and uses flex, so it's impossible to add a left margin to fix this issue.

[2020-11-27 12:15] #112 closed

[2020-11-28 13:55] AshishPandagre opened #113 "Is there any way i could use tinymce editor ?"
I tried using django-tinymce with this, it was successfully integrated. But, it didn't show anything on the HTML field, and appeared something like this. Any help would be appreciated.
![Screenshot (58)](https://user-images.githubusercontent.com/53047854/100517244-41541780-31af-11eb-993a-54b1bcc73a99.png)

[2020-11-30 09:47] #111 closed

[2020-11-30 09:47] #113 closed

[2020-11-30 09:56] abidibo commented on #113
@AshishPandagre ,

should be fixed in 1.12.4

If you have overridden the `base_site.html` admin template, make sure to change the Baton init event from `window.onload` to `document.ready`

[2020-11-30 09:58] abidibo commented on #111
@etanter ,

I've added a `re` prop for free voices, you can specify a js reg exp used to check for active menu voice.
The `re` prop is use in js:

[code]

[2020-11-30 12:28] etanter commented on #111
Hi @abidibo, thanks!
I'm having trouble getting it to work, though. I've been trying many regexps, without success.
Even the trivial `'re': '/$'` (which should always match given that the location ends with a `/`) does not make the voice active.
Any idea what could be happening here?

[2020-11-30 21:56] shahwan42 opened #114 "Horizontal scrollbar isn't working"
can't drag this bar to the right! I can reach fields on the right using the Tab key only.
![image](https://user-images.githubusercontent.com/6496157/100670424-7dca7380-3367-11eb-8cd7-563c1ebf9caf.png)

[2020-12-01 08:15] abidibo commented on #111
I see, it works as children but not as first level voice, I'll fix it now

[2020-12-01 08:22] abidibo commented on #111
Fixed in version 1.12.5

[2020-12-01 08:47] #114 closed

[2020-12-01 08:48] abidibo commented on #114
Fixed in 1.12.6

[2020-12-01 11:09] etanter commented on #111
Indeed, it works as expected now. Thanks!

[2020-12-07 09:15] ppo opened #115 "First impressions (feedback & suggestions)"
Hi,
I just discovered this project and so first, thank you 😀
These are my first impressions after a few minutes playing with it… without really reading the documentation nor checking the closed issues, so sorry if things are not relevant.

### Bugs
- Fonts are not loaded because "/static/" is hardcoded but I configured "/s/".
- Hide the tooltip on `:active` (if not also `:hover`).

### Feature Req

[2020-12-07 09:50] abidibo commented on #115
Hi @ppo ,

thank you for sharing your thoughts!

**Fonts are not loaded because "/static/" is hardcoded but I configured "/s/".**

Yeah, that's because I need to know the fonts paths at compilation time. See here:

https://github.com/otto-torino/django-baton/issues/81#issuecomment-661899608

**Hide the tooltip on :active (if not also :hover).**

There's no logic from Baton part about this. Baton j

[2020-12-07 10:28] abidibo opened #116 "Wrong icon for django.contrib.admindocs"

[2020-12-09 06:24] mrfoggg opened #118 "add support for viewing images in WebP format"
thumbnails of uploaded photos are not displayed

[2020-12-10 13:49] dhvcc opened #120 "Field sorting"
Hello, i'm trying to implement custom sorting in admin (to make nulls **always** last)

So the problem here is that sorting takes place **after** `get_queryset` call

Also `get_ordering` returns `()` even if sorting is enabled

This should work in default admin interface, but does not in `django-baton`

[2020-12-10 13:54] abidibo commented on #120
Hi @dhvcc ,
that's quite strange since Baton doesn't override any admin view or logic. Are you sure the same works with default Django admin? In such a case can you provide some sample code in order to reproduce the problem?
Thanks

[2020-12-14 15:18] #116 closed

[2020-12-14 15:18] #118 closed

[2020-12-14 23:00] #120 closed

[2020-12-18 09:33] linhnvhicts opened #123 "add django-admin-rangefilter to default baton?"
Currently the base django admin filter of days/months ago is not that useful. It's possible to add https://github.com/silentsokolov/django-admin-rangefilter to the default baton? because i tried this package with baton and it worked great. Would be nicer if it already in baton 😄

[2020-12-18 10:01] abidibo commented on #123
Yeah, I thought about it, I also use that package. But I'm not sure about it, I mean, the package is currently well maintained, and they can focus on it. While if I put it in Baton, I'll probably leave it at its current state because I've many other developments to follow. Until now I've added packages which were not implemented anymore. What I can say is that if for any reason the django-admin-ra

[2020-12-19 04:08] linhnvhicts commented on #123
ok thank you for the answer 👍

[2020-12-19 04:08] #123 closed

[2020-12-19 04:14] linhnvhicts opened #124 "Django baton Reverse for 'app_list' with keyword arguments '{'app_label': 'auth'}' not found"
Hello, when i try to add baton to my project, the following error came up on console when i go into the index page. The sidebar of app not rendering at all
previous template i used was jazzmin and it worked normal, this came up after i replaced it with baton
My settings.py:

[code]

I also made a custom admin_site to override some base admin url and add my custom views in admin.py:

[code]

And la

[2020-12-19 05:47] linhnvhicts commented on #124
i tried removing my custom AdminSite and went with the default urls.py like in the readme and the sidebar is rendering again?
Can you tell me how can i customize baton AdminSite so i can override login and add signup view?

Django docs provide way to override admin view like so https://docs.djangoproject.com/en/3.1/ref/contrib/admin/#django.contrib.admin.ModelAdmin.get_urls but it doesn't work wit

[2020-12-19 08:08] linhnvhicts opened #125 "Baton model voice broken on django 3.1.3"
Currently i can't get the baton model in sidebar to work, the sidebar just not rendering when i add models to type: app

Django==3.1.3
baton=latest version
settings.py:
[code]
if i remove models dict from this it work like normal:

Also `model_item`  in baton/views.py return the string of `name`(which caused key error on get) when i tried to debug it
full traceback:

[code]

confirmed it related t

[2020-12-19 08:21] abidibo commented on #125
Hi @linhnvhicts ,

this is easy. The fact is that the `models` voices should be a tuple. If you don't append a comma at the end of a single dict element you'll get a `<class'dict'>` object, and when iterating over it:

[code]

you actually iterate over a dict keys and not over dictionaries. So, the simple solution is to change your configuration:

[code]

[2020-12-19 08:45] abidibo commented on #124
Hi @linhnvhicts ,

I'm not sure I've spot the whole problem here. But, if you want to override the `AdminSite` class you can do this way (tested and working):

Create and `admin.py` in your main app (let's call it `app`). Here you define your `CustomAdminSite` which inherits from `BatonAdminSite`

[code]

Then, in your `urls.py` you should add this new `admin_site`:

[code]

And finally make sure

[2020-12-19 12:36] linhnvhicts commented on #124
@abidibo thank you! the problem was the apps should be in the end of INSTALLED_APPS

[code]

Would be nice if this also included in your documents if people want to override AdminSite 😄

[2020-12-19 12:39] linhnvhicts commented on #124
oh...a problem, the sidebar rendered but none of the apps i listed in the menu showing

![Uploading Screen Shot 2020-12-19 at 7.39.13 PM.png…]()

[2020-12-19 12:55] abidibo commented on #124
Difficult to say why without debugging. In the network panel of chrome, what do you see for the app_list request? Also your overall settings are different from my tests. I'm available for a debug session with TeamViewer if you want, just leave me your contacts to abidibo@gmail.com, we can have a call later.

[2020-12-19 13:04] linhnvhicts commented on #124
@abidibo thank for the response i sent you an email with my teamviewer informations,  i checked network tab and app-list-json returning empty list

[2020-12-19 15:17] abidibo commented on #124
Anyway, I'd try this:

virtualenv/baton/views.py, line 28, add:

    import pdb;pdb.set_trace()

Run the app, and return to the terminal

    (pdb) self.app_list

You should see a list of dictionaries representing all the apps. If you see an empty list, then it means that `site.app_list(request)` is returning an empty list. Such list is checked when showing voices, because only apps land models li

[2020-12-21 02:15] #125 closed

[2020-12-22 08:39] linhnvhicts commented on #124
sorry i can't share the repo clone as it's my school project, but i appreciate the help 😃

[2020-12-22 08:40] #124 closed

[2021-01-02 15:59] Jay-Arr-HummingBird opened #126 "Can't see changelist row attribute"
Environment:
Baton 1.13.2, Django version 3.1.4, Python 3.7.6, MAC OSX Big Sur 11.1, Safari 14.0.2

Function:

[code]

which returns correctly {5: {'class': 'table-info'}}      <<< checked with print statement

The last few lines of my baton/templates/admin/change_list.html are:

[code]

**BUT I don't see my change listing records with an attribute table-info blue background change - it looks like

[2021-01-04 08:41] abidibo commented on #126
Hi @Jay-Arr-HummingBird ,

I can't see anything wrong at a first sight. The default selector is the following:

[code]

where key is the json key, so the record ID.

Can you check this selector will properly match your element that needs to be highlighted? Maybe you've got some custom templates?

Also, you should see in your DOM something like this (inspect with developer console):

![Screenshot f

[2021-01-07 08:45] abidibo commented on #126
Ok, found:

I missed something in the documentation. The function signature should contain the `cl` parameter:

[code]

[2021-01-07 08:45] #126 closed

[2021-01-07 14:49] AliPolat opened #127 "Suggested environment for compiling JS and scss files for GUI Customization ?"
I am having difficulties when compiling Baton customization files in Windows environment. Failed to run commands in the documantation. Espacially  npm run compile gives me so much weird error messages.

 What is the suggested OS and environment?

For example:
![npm run compile](https://user-images.githubusercontent.com/1778756/103906236-b3097480-5110-11eb-8a3d-ac77ed34649a.png)
?

[2021-01-07 14:54] abidibo commented on #127
Hi @AliPolat ,
I've never tried to compile it on windows system. Maybe there is more information in the log file, from the screen it's impossible to understand what's going on.

Suggested OS is any Linux distro (I use Ubuntu to compile it).

[2021-01-07 16:43] #127 closed

[2021-01-07 16:43] AliPolat commented on #127
Thank you..

[2021-01-08 12:26] Jay-Arr-HummingBird commented on #126
Thank you for your prompt response.
It now works - all OK.

I think you need to double check that the file
baton/templates/admin/change_list.html
 has the line:

{% call_model_admin_method model_admin=cl.model_admin method='baton_cl_rows_attributes' cl=cl as data %}

Thanks again.

[2021-01-08 12:42] Jay-Arr-HummingBird commented on #126
Arggggh!
I've just noticed another problem. with this.
My original problem was with ther change listing from my POEM model in which I had the
def baton_cl_rows_attributes(self, request, cl):  function declared
This is the ONLY use of the function in my application.
However when I attempt to list other models (e.g. Competitions) I see the error message:
**** call_model_admin_method error:  'Competi

[2021-01-08 12:48] Jay-Arr-HummingBird commented on #126
Sorry for some unexplained reason
the code listings (I used the <>)  in the last message has omitted the ** from all the
kwargs
& print( call_model_admin

[2021-01-08 14:47] Jay-Arr-HummingBird commented on #126
FYI:
when I do a change listing of my POEMS the X title line (the one with record id=5 & the blue background)  has the following  html line generated:

`<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="5" class="action-select"></td><th class="field-title"><a href="/admin/collection/poem/5/change/">X title</a></th><td class="field-dtlu nowrap">2020-Nov-27</td><t

[2021-01-08 14:52] abidibo commented on #126
@Jay-Arr-HummingBird ,
please try to properly use the snippet and other formatting tools, because I really can't understand what's going on

[2021-01-08 15:11] AliPolat opened #128 "Is repository of the live demo(v2) available publicly?"
Hi,

It may be helpful to understand the usage of the some features from the source code. Test app does not seem to be in sync fully with the demo app .

Thank you.

[2021-01-08 15:20] abidibo commented on #128
Hi @AliPolat ,

actually, the demo application is now running Baton V2. You can find All the code, documentation and test app in the v2 branch of this repo. I think it'll be soon merged though because I already use it in production on many sites and web application and seems very stable.

[2021-01-08 18:38] #128 closed

[2021-01-11 08:20] #115 closed

[2021-01-11 13:08] AliPolat commented on #128
Infact, I had wanted to investigate the usage of JS Modal which is present in V2 live demo but not available in testapp.  For example help menu voice activates a Modal in live demo.

[2021-01-11 13:51] abidibo commented on #128
Oh ok I understand. Well, it is currently not a public repo because there are some tricks to avoid people from messing up all database and so...

I can provide an example of how to use Baton modal though. In the case of the demo app it's really simple:

In my `settings.py` I have:

[code]

In some other applications I use Baton modal to display some changelist infos, i.e.

[code]

I hope this help

[2021-01-25 09:47] dhvcc opened #129 "Updates and improvements"
I've been using `baton` for quite a while now and I want to implement some improvements

1. The main font does not support **cyrillic**. My suggestion is [Blogger](https://www.fontsquirrel.com/fonts/blogger-sans)
`Dosis` (Cyrillic is rendered in DejaVu)
![image](https://user-images.githubusercontent.com/18076967/105696275-246c6400-5f14-11eb-8385-a5a738d9bdf4.png)
`Blogger`
![image](https://user-im

[2021-01-25 10:27] abidibo commented on #129
Hi @dhvcc ,

I'm not sure I'll change the Dosis font, I like it so much. Is still possible to change Baton font without too much effort, see https://github.com/otto-torino/django-baton/issues/45. Basically overriding the `admin/base_site.html` template and adding a style block.

Issues 2 and 3 were already addressed in the new v2 branch (based on bootstrap 5), you can try it, it is super stable al

[2021-01-31 10:25] agalazis opened #130 "Add Support for nested inlines"
Nested inlines disappear when using tabs

[2021-01-31 12:26] #130 closed

[2021-02-01 17:34] #129 closed

[2021-02-10 22:30] simonwiles opened #133 "Option to install without analytics support"
It would be cool if it was possible to install without the dependencies that are only needed for Google Analytics support.  I would sooner have nothing to do with Google Analytics, and it certainly won't be used in my projects, so it would be nice to be able to not install things like `google-api-python-client` which generate irrelevant dependabot issues (see, e.g. #132).

It could be done with `s

[2021-02-14 15:21] etanter commented on #111
Hi @abidibo,
Now I'm having trouble with the highlighting of children voices. The problem appeared when I move the menu configuration from the static setting to dynamic (as per #105). This means I get the menu object by overriding `get_menu` in my `GetAppListJSonView` subclass (this method looks up the menu def in the current `request.session` store).

Here's what I have in the menu, for which the

[2021-02-14 15:22] etanter opened #135 "voice children highlighting in dynamic menu"
Hi @abidibo,

A follow-up on #111. Now I'm having trouble with the highlighting of children free voices. The problem appeared when I move the menu configuration from the static setting to dynamic (as per #105). This means I get the menu object by overriding `get_menu` in my `GetAppListJSonView` subclass (this method looks up the menu def in the current `request.session` store).

Here's what I have

[2021-02-15 09:06] abidibo commented on #135
Moving to dynamic setting shouldn't make any difference as long as you return the same dict.
I've tried to add the same scenario in my demo app, and in my case it works as expected with the `re` addition, I'm testing on branch v2.

[2021-02-15 12:54] etanter commented on #135
thanks for confirming that it ought to be working! I insisted and realized that the problem was one of browsing caching, which my `re` addition going unnoticed... sorry about the noise!

[2021-02-15 12:54] #135 closed

[2021-02-20 10:18] AliPolat opened #136 "Filter icon placement issue when add permission disabled."
Here is the screenshot:

![filter icon misposition](https://user-images.githubusercontent.com/1778756/108592249-06ace600-737e-11eb-9c27-f26fdfdec8c5.jpg)

Django2.2
Python 3.7
Django-baton 2

[2021-02-20 17:15] #136 closed

[2021-02-20 17:17] abidibo commented on #136
Thanks @AliPolat ,
fixed in django-baton==2.0.1

[2021-02-23 08:38] AliPolat opened #137 "Misleading Tab order after an error is thrown in detail page"
Hi,

When there is an error in a field in detail form, First Tab is activated despite the errenous field is in Second Tab.

Thank You..

![Tab error1](https://user-images.githubusercontent.com/1778756/108818816-02c1d380-75cb-11eb-82e2-fe03f0d100eb.jpg)

![Tab error2](https://user-images.githubusercontent.com/1778756/108818976-3f8dca80-75cb-11eb-8cd0-789a1d196468.jpg)

Django 2.2
python 3.7
django-

[2021-02-23 11:40] abidibo commented on #137
Nice catch, bs5 has changed a bit tabs behaviour. I'm on it.

[2021-02-23 12:41] #137 closed

[2021-02-23 12:42] abidibo commented on #137
Added e2e test. Fixed in version 2.1.3

[2021-03-02 10:21] AlanL-django opened #138 "__str__ in Inlines"
Firstly, let me say thank you for your work on Baton. It looks like it could be the open source, actively maintained Suit replacement that I've been looking for for a couple of years now.

I'm encountering one problem that I can't find how to configure or fix: in a TabularInline, no matter what I do or don't put in the fields list, the __str__() of the model is being shown in addition to the model

[2021-03-02 14:05] abidibo commented on #138
Hi @AlanL-django ,

thank you.

Yeah, I know what you're talking about. Actually, also default Django admin shows that ('avatar' is the model __str__):

![Screenshot from 2021-03-02 14-56-53](https://user-images.githubusercontent.com/444093/109659448-f956df00-7b67-11eb-8ad0-bbf79dac62f9.png)

I personally don't like it very much, in fact, the first Baton releases used to hide it, see #5 .
The prob

[2021-03-02 17:17] AlanL-django commented on #138
Excellent! Thank you

[2021-03-02 17:17] #138 closed

[2021-03-30 18:36] MathiasKowoll opened #142 "Horizontal Menu"
Is it possible to implement a Horizontal Menu? or there is possibility to change the header via templates?

[2021-03-30 20:40] etanter opened #143 "tabs in change form via intermediate view"
Hi @abidibo,
In order to ensure that a menu voice is highlighted properly, I need to use a dedicated url that internally renders the original change form.
The url is handled by a view that only does:
[code]
The strange thing is that through this indirect route, the tabs configuration in FooAdmin is ignored. It's displayed as a flat form, with the proper fieldsets and inlines, but not the tab organ

[2021-03-31 08:40] abidibo commented on #142
Hi @MathiasKowoll ,

there is no horizontal menu in Baton. I thought about it in the past, but when we decided to design the new left sidebar I think we discarded the idea. It would be too prone to errors to support both a topbar with a horizontal menu and a sidebar with a vertical one. So even if maybe one day we'll implement it it's not something that will happen very soon. Also, it probably cou

[2021-03-31 10:29] #143 closed

[2021-03-31 10:37] abidibo commented on #143
Hi @etanter ,

yes, the problem was due to the way Baton autodetect the current page type (add form, change form, changelist, ...). It performs regular expressions against the current URL, and it won't activate some functionalities (i.e. tabs) if aren't necessary for the context. So tabs are activated only when the current page is of type `add_form` or `change_form`.

I've just published Baton==2.

[2021-03-31 12:07] etanter commented on #143
Thanks @abidibo! now I have a good incentive to switch to 2.x ;-)

[2021-04-01 15:01] etanter opened #145 "problem with tooltips when going 1.12.6 → 2.1.4"
Hi @abidibo,

So I finally migrated to 2.1.4, and was thrilled to see everything work fine (just had to do some cosmetic adjustments). But, there is one big "but", which is tooltips.

They started behaving super strange: disappearing, blinking in another random part of the page, not appearing anymore, etc. It's highly unpredictable. I could send you a small video to show the weird behavior, if tha

[2021-04-01 15:18] abidibo commented on #145
Hi @etanter ,

can you try to remove the `data-toggle` part?

[code]

Baton by default activates tooltips on all title attributes. My guess, without inspecting, is that the behaviour is triggered multiple times.

[2021-04-01 15:29] #107 closed

[2021-04-01 15:58] etanter commented on #145
it doesn't fix the issue. In fact, some of my tooltips were missing the `data-toggle` part, so my first idea was that this was the issue. Adding/removing that part doesn't change the problem.

[2021-04-01 16:16] etanter commented on #145
wait, removing the `data-toggle` part as well as a `info-icon` class I was using seems to be fixing the problem. I'll keep testing and report here.

[2021-04-01 16:29] etanter commented on #145
it seems that the problem was with a pattern I had of wrapping an icon in a span (with the title attribute), instead of just putting the title attribute on the icon itself.

[2021-04-01 16:33] etanter commented on #145
ok, so it seems that doing both things (removing `data-toggle` and avoiding this "span-wrapping") solves the problem!
thanks for pointing me in the right direction!

[2021-04-01 16:33] #145 closed

[2021-04-01 20:15] etanter opened #146 "JS error on login page"
Hi @abidibo,

On the login page, I get this JS error:
![image](https://user-images.githubusercontent.com/1315554/113348930-a52d4f00-930d-11eb-95f8-eb6387cd6879.png)

It doesn't affect functionality, but it's weird. The error message is the actual html response. I've tried to reset my login template to the original, and the error still occurs.

Any idea?

Thanks!

[2021-04-01 21:45] etanter commented on #143
works perfectly, thanks!

[2021-04-02 07:34] abidibo commented on #146
Hi @etanter ,

have you got a custom login URL? Because the menu script should not be executed in the login/logout and popup pages.
If this is the case you can use the [page detection](https://github.com/otto-torino/django-baton#page-detection) feature to indicate your custom URL is a login page.

[2021-04-02 15:29] abidibo commented on #145
Hei @etanter ,
actually, I also have noticed some weird behaviour with tooltips when stressing them a lot (super speedy hover in and out).
I think some problems were caused by bootstrap itself, I've just released Baton==2.1.5 which comes with the new bootstrap 5.0.0.beta3, and to me, the problem seems solved, everything runs smoothly in my tests.

[2021-04-03 12:47] etanter commented on #146
indeed, that was it! thanks!

[2021-04-03 12:47] #146 closed

[2021-04-03 20:21] etanter commented on #145
Thanks @abidibo! indeed, this morning I installed django-tinymce to have some nice HTML fields, and I noticed that the tooltips of the text editor were immediately disappearing, and sometimes not showing up at all or getting sticky. I've updated to 2.1.5 and it seems ok now.

[2021-04-04 03:41] MathiasKowoll opened #147 "Disable delete button on stacked inline"
Hi,
I have an inline model and I have can_delete=False, but delete link still appears. Is there any way to disable delete button without modifying admin template?

[2021-04-04 03:42] MathiasKowoll commented on #133
you can install without analytics, just not declaring in settings the analytics section.

[2021-04-04 14:30] etanter opened #148 "dirty state of change form with tinymce"
Hi @abidibo,

Not sure where the problem lies, but I thought you might have a clue.

Since I installed django-tinymce, I noticed that the change forms always complain of a pending edit (with the JS alert "leave site?"), even though I don't touch the form. Just opening a change form and clicking on some other menu link triggers it.

I inserted JS code to check, and the dirty flag of tinyMCE seems t

[2021-04-04 16:16] MathiasKowoll commented on #148
There is an option where you can set alert unsave changes. if you set it to False you will no longer receive that popup

[2021-04-04 18:16] etanter commented on #148
Thanks Mathias!
The thing is that I'd like the alert to happen, but only when "real". If I just open a change form with an HTMLField and leave, it shouldn't show up.

[2021-04-05 00:20] etanter commented on #148
for the record, adding `"add_unload_trigger": False,` and loading the `autosave` plugin made the trick.

[2021-04-05 00:20] #148 closed

[2021-04-05 14:04] MathiasKowoll commented on #147
I also noted that when adding a new row there is a button, when editing existing inline there is checkbox.

[2021-04-05 14:05] MathiasKowoll commented on #142
Thx for your reply

[2021-04-05 14:05] #142 closed

[2021-04-05 14:05] MathiasKowoll commented on #142
Thx for your reply

[2021-04-07 07:36] abidibo commented on #147
Hi @MathiasKowoll ,
I don't know if I have understood correctly, but I can't reproduce any bug here.

Adding `can_delete=False` to an admin inline makes the delete checkbox disappear, and actually, you can't delete existing items anymore. But still, you can add and remove newly added items:

![Screenshot from 2021-04-07 09-31-30](https://user-images.githubusercontent.com/444093/113828171-615e9d80-

[2021-04-07 16:26] MathiasKowoll commented on #147
It would be great if we can have a consistent view with the delete button. As my first Question I figure it out how it works and works ok.

Thanks

[2021-04-08 09:50] abidibo commented on #147
Hi @MathiasKowoll ,

I won't do that because it goes against normal Django behaviour. Also, it will not be clear as UX. The fact is that using a button instead of a checkbox, the user would see an inline element disappear, thinking it was actually deleted, but this is not true! In fact actually the inline will be deleted only after the form submission and that is confusing. At the same time, it wo

[2021-04-08 09:50] #147 closed

[2021-04-09 03:46] MathiasKowoll commented on #147
Thx for you reply

[2021-04-13 13:21] AliPolat opened #150 "Form includes with right option issue"
Form includes with right adjustment doubles the included text.

![form_includes-with-riight-option](https://user-images.githubusercontent.com/1778756/114559242-325c9600-9c74-11eb-8dc3-e5a3786be034.jpg)

django 2.2
baton 2.1.3

[2021-04-13 13:33] abidibo commented on #150
Hi @AliPolat ,

can you please paste the `ModelAdmin` and the include template?

Thanks

[2021-04-13 13:38] AliPolat commented on #150
template:
<!DOCTYPE html>
<html>
    <body>
        {% if original.patient.birth_date is not None %}
            {{original.patient.birth_date}}
        {% endif %}
    </body>
</html>

and part of Model Admin:

    fieldsets = (
        ('Request', {
            'fields': ('requester_type', 'requester', 'contact', 'patient', 'get_birth_date', 'requester_work_order',
                       'detail

[2021-04-13 13:39] AliPolat commented on #150
template :
----------

<!DOCTYPE html>
<html>
    <body>
        {% if original.patient.birth_date is not None %}
            {{original.patient.birth_date}}
        {% endif %}
    </body>
</html>

[2021-04-13 13:40] AliPolat commented on #150
part of ModelAdmin :
-----------------------

    fieldsets = (
        ('Request', {
            'fields': ('requester_type', 'requester', 'contact', 'patient', 'get_birth_date', 'requester_work_order',
                       'detail', 'request_date', 'objection_date_exemption', #'type',
                       'priority', 'request_via', 'abnormal_request', 'subpoena', #'invoice_sent', 'invoice_pa

[2021-04-13 13:49] abidibo commented on #150
@AliPolat ,

the only way I could find to replicate it is to add the include two times in the `ModelAdmin`, like this:

[code]

Otherwise all works as expected and I cannot reproduce it. Can you confirm you are not doing something similar?

[2021-04-13 13:56] AliPolat commented on #150
Yes I confirm that I include once. Even simple text in html doc doubles. Other options work correctly.

[2021-04-13 14:00] abidibo commented on #150
Ok, can you confirm it happens also with other fields and not only with the `patient` one?

Also, it's not necessary at all to wrap everything in a complete HTML document with DOCTYPE HTML etc... Because that template is included as is inside the dom, so just put what you need:

[code]

[2021-04-13 14:04] AliPolat commented on #150
Thank you. I corrected it now. But even simple text in HTML doc is multiplied by 2

[2021-04-13 14:08] abidibo commented on #150
Ok, can you confirm it happens also with other fields and not only with the patient one?

[2021-04-13 14:09] AliPolat commented on #150
Patient is a foreign key. I changed to a text field to include the birth_date  it has worked now.

[2021-04-13 14:35] AliPolat commented on #150
Other foreign key fields on the same Admin page cause the same issue. Other nonrelational fields work as expected.

[2021-04-13 14:38] abidibo commented on #150
that's weird, I cannot reproduce it, can you check with the inspector if you have multiple `template` tags with the same id? In your case `template-patient`

![Screenshot from 2021-04-13 16-36-28](https://user-images.githubusercontent.com/444093/114570918-84062000-9c76-11eb-8914-e4761a22c7f9.png)

[2021-04-13 14:45] AliPolat commented on #150
I removed the django-easy-select2.  Now it works. I am very sorry.  Maybe this thread helps someone with the same problem.

[2021-04-13 14:47] abidibo commented on #150
Glad you solved it, don't worry. Have a nice day!

[2021-04-13 14:47] AliPolat commented on #150
Thank you so much

[2021-04-13 17:53] #150 closed

[2021-04-24 00:15] etanter opened #151 "form tabs for generic relation"
Hi @abidibo,

I'm struggling to place an inline in a separate tab (either standalone, or as part of a group).
The specificity here is that the field is defined by a generic relation, not a standard foreign key.
[code]
I've tried both `inline-document` and `inline-documents` as part of the class name (as in `baton-tab-inline-documents`), but no luck.

What am I missing?

Thanks!

[2021-04-27 07:54] abidibo commented on #151
Hi @etanter ,
Baton tabs engine acts on inlines by searching for their wrapping element id in the DOM. Normally it is:
[code]

but for generic relations it's quite different. In any case is still possible to get them work:

![Screenshot from 2021-04-27 09-42-41](https://user-images.githubusercontent.com/444093/116204897-7d2ee100-a73d-11eb-9575-d0e2be433feb.png)

In this example:

**models**

[code

[2021-04-27 12:46] etanter commented on #151
Thanks @abidibo for the detailed explanation, it works as expected!

[2021-04-27 12:46] #151 closed

[2021-05-01 14:06] etanter opened #154 "how to reuse active voice matching?"
Hi @abidibo,

Given a URL and a menu (baton conf), I'd like to check whether there will be one active voice for that URL.
(as a way of checking that the URL that is requested is 'exposed' by the menu)

You are surely doing this process already in order to build the representation of the menu with the properly expanded menu and highlighted voice.

Is this check logic exposed somehow? Otherwise, cou

[2021-05-03 11:52] aldyahsn opened #155 "Canvas is blank"
I include html in django admin form like this but the chart is not showing

*admin.py*
[code]

*base_site.py*
[code]

*mychart.html*
[code]

Did I miss something?

[2021-05-03 12:34] abidibo commented on #155
Hi @aldyahsn ,

yes. You missed that the container element shouldn't be a canvas, but just a div. Look at the library provided example on codepen:
https://codepen.io/apexcharts/pen/xYqyYm

If you change from canvas to div it will work

[code]
![Screenshot from 2021-05-03 14-31-57](https://user-images.githubusercontent.com/444093/116876377-a5767e00-ac1c-11eb-9781-1733f3e7f98c.png)

[2021-05-03 13:14] aldyahsn commented on #155
Oops. Seems I forget it. Thanks.

[2021-05-03 13:14] #155 closed

[2021-05-05 19:00] etanter commented on #154
closing this since I found another way to achieve what I was after. Sorry for the noise!

[2021-05-05 19:00] #154 closed

[2021-05-08 15:32] etanter opened #156 "collapsible tabular inline?"
Hi @abidibo,

Would it be possible to add a way to make tabular inlines collapsible?

Thanks!

[2021-05-09 15:55] etanter opened #157 "loss of tab context"
Hi @abidibo,

I noticed that since I upgraded to v2, the tabs in change forms are not mapped to distinct urls. An unfortunate consequence is that when one is editing an object in a given tab, hitting 'save and continue' will lose the currently open tab.

Is there a way to avoid losing this tab context when saving?

Thanks!

[2021-05-11 08:16] abidibo commented on #156
I'll look into it soon

[2021-05-11 12:26] etanter commented on #157
I agree 100%... I didn't like the fact that that the back button was scrolling back through the tab history, and now I don't like the fact that saving loses the context.
One wants both... is there a way to hack around one way or another?
- With hashed URLs, one would need a way to redefine the behavior of the browser back button (which may not be possible), or to offer a convenient alternative but

[2021-05-11 12:31] etanter commented on #157
oh right, I forgot about the breadcrumbs (I have them disabled in my app)

[2021-05-13 07:31] abidibo commented on #157
@etanter addresses in develop branch

[2021-05-13 07:45] abidibo commented on #156
This is quite tricky. The whole fieldset can be collapsed, but make collapsable every single row is hard. With stacked inlines, we have a header that can be used as a toggle and that is always visible. We don't have such a thing in tabular inlines. If I collapse a row, then there's no info left about it still visible. And if I keep something visible injecting it into the DOM (and should be a new t

[2021-05-13 10:17] etanter commented on #156
Oh, I was thinking of making the whole tabular collapsible, with the title as handle to show/hide (just like a collapsible fieldset).

[2021-05-13 20:34] etanter commented on #157
Hi @abidibo,
I can't get it to work.
I did:
[code]
but I can't see any change in the behavior.
Am I doing stg wrong to install the dev branch?

Otherwise maybe it's a problem that I have admin templates overriden?

[2021-05-14 06:45] abidibo commented on #157
@etanter develop branch at the moment, I'll merge it in master when releasing 2.1.6

[2021-05-14 06:46] abidibo commented on #156
Shouldn't that just be possible by settings `classes = ('collapse', )` in the `TabularInline` ?

[2021-05-14 11:29] etanter commented on #157
It still doesn't work, with the develop branch.
How can I check that I'm indeed running the proper version? I was hoping there were some attribute like `Baton.version`  that I could look at in the JS console, but wasn't able to find it.

[2021-05-14 11:40] etanter commented on #156
I don't understand why, but adding `classes = ('collapse', )` in the tabular inline does not work.
Additionally, it would be better to make the decision of the inline being collapsible or not in the enclosing admin.

[2021-05-14 15:07] abidibo commented on #156
![Screenshot from 2021-05-14 17-06-23](https://user-images.githubusercontent.com/444093/118290479-c66d8780-b4d6-11eb-88ff-97e300092058.png)
![Screenshot from 2021-05-14 17-06-17](https://user-images.githubusercontent.com/444093/118290487-c8374b00-b4d6-11eb-8d0d-ca7964e865fb.png)

In my demo app I can collapse tabular inlines

[2021-05-14 15:14] abidibo commented on #157
`baton.min.js` should contain

[code]
![Uploading sec.gif…]()

[2021-05-14 15:59] etanter commented on #157
Got it, it was a cache issue with the browser, I tried with an incognito window and it does work indeed.

Thanks a lot!

[2021-05-14 16:03] etanter commented on #156
it was a problem with my overriding of the tabular admin template... sorry (again) about the noise!

[2021-05-14 16:03] #156 closed

[2021-05-14 16:19] etanter commented on #157
Great fix, btw! The best of both worlds!

[2021-05-15 16:29] etanter commented on #157
@abidibo one slight limitation of the fix: when you reload a page (cmd-r) it will jump to the last tab where you saved, instead of staying on the current tab.

[2021-05-16 13:15] etanter commented on #157
likewise, on some change forms I have a button that performs an action via a view, and then reloads the same page. So the context is then lost.

[2021-05-17 07:05] abidibo commented on #157
@etanter ,
I can't do anything about it. The only way to achieve it would be to set the hash, but then I would introduce again the back navigation problem.
I've solved the save and continue issue by manipulating the `action` attribute of the form. So in order for it to work you actually need to submit the form.

As a side note you can decide to open a tab on load just by setting yourself the hash,

[2021-05-17 15:30] etanter commented on #157
for my button/view, indeed, I can just add the hash myself, duh! :)

In fact now with the save button adding the hash, it also ends up interfering with the back button. If I save and continue in different tabs, then the back button makes me travel back through all visited+saved tabs again.
So that's overall better than the past situations (v1 and v2), but still not perfect. Web apps over http!

Ma

[2021-05-22 10:33] Abe-2 opened #161 "Integration with django-import-export"
It seems like django-import-export is not displayed correctly due to mismatch with the CSS classes where import-export uses django's default. Any idea on how to fix this?

[2021-05-25 17:55] etanter commented on #157
@abidibo what do you think about my suggestion? does it sound feasible?

[2021-05-26 05:18] MathiasKowoll commented on #161
I have the same issue, I think we need to overwrite de Django-import-export html

[2021-05-26 08:51] abidibo commented on #161
I'll look into it soon

[2021-05-26 13:56] abidibo commented on #161
@Abe-2 , @MathiasKowoll should be fixed in develop branch, could you try it please?

[2021-05-26 13:59] abidibo commented on #157
@etanter  maybe keeping the tab hashes and using deleteUrl or replaceState to keep the history clean can work. It needs some work though, I'll look into it as soon as I have a bit more time, thanks

[2021-05-26 22:38] MathiasKowoll commented on #161
@abidibo I tried to pip install from git without success

[2021-05-27 11:00] abidibo opened #163 "Update docs"
See https://github.com/otto-torino/django-baton/discussions/122

- Specify that models and apps should be lowercase in menu settings
- Find a rule for m2m through relationships in tabs

[2021-05-27 17:54] shashitechno opened #164 "admin base.css is still loading messing up the baton design"
hey guys,

I installed the module and with in admin dashboard its still loading the admin/css/base.css which messed up the dashboard design ( making fonts white etc ? )

Any hints what causing this?

[2021-05-28 23:13] MikeiLL opened #166 "AllAuth login_required redirect and Baton.Autodiscover"
I'm using the [documented method](https://django-allauth.readthedocs.io/en/latest/advanced.html?highlight=login_required(admin.site.login)#admin) to redirect admin login to the AllAuth login page:

[code]

Which I'm supposed to apply to "every instance of AdminSite."

I'm not sure how to add it to the Autodiscover subclass.

[code]
And the URLs:

[code]

When I remove `baton.autodiscover`, `http:/

[2021-05-29 04:39] jeanwainer commented on #164
Are you using django 3.2? It seems that Baton is not yet prepared to work with the new django version. It would be nice to hear from the maintainers if there's any work being done in that direction.

[2021-05-29 06:55] abidibo commented on #164
Hi guys,
yes I've already done some job in the develop branch.
https://github.com/otto-torino/django-baton/commit/9905c2d079001eb70d18381c8e8bcd9aa97e15e0
I'll add some more work and release soon, stay tuned

[2021-05-29 07:08] jeanwainer commented on #164
Awesome, @abidibo! Thank you!

[2021-05-29 14:12] MikeiLL commented on #166
You have to decorate `baton.autodiscover.admin` in `urls.py`.

URLs:

<pre><code>from baton.autodiscover import <b>admin</b>
from django.urls import path, include

<b>admin.site.login = login_required(admin.site.login)</b>
[code]

[2021-05-29 14:12] #166 closed

[2021-05-29 15:37] abidibo commented on #161
I'll take a look at the beginning of next week

[2021-05-29 15:39] abidibo commented on #133
@daniele-pira can you address this? :)

[2021-05-30 17:29] daniele-pira commented on #133
@abidibo sure :) As far as I can see the GA python dependencies are only used in the `analytics` template tag. If that tag is somehow skipped while the analytics section is removed from the configuration, we could just make the dependencies optional and, as far as I understand, baton should work. I'll make the changes in a new branch so we can see if that is the case in more detail and test if it

[2021-05-31 07:39] abidibo commented on #161
[code]

I see this:

![Screenshot from 2021-05-31 09-38-21](https://user-images.githubusercontent.com/444093/120158085-067d7b80-c1f4-11eb-8648-a69693f81c59.png)

[2021-05-31 07:46] abidibo opened #167 "Update to bootstrap 5.0.1"

[2021-05-31 12:44] MathiasKowoll commented on #161
@abidibo
<img width="726" alt="Screen Shot 2021-05-31 at 08 44 12" src="https://user-images.githubusercontent.com/15032652/120195147-6a03ab00-c1ec-11eb-9a86-90f1d8744e85.png">

refreshed and reinstall looks like your comment button all my forms are messed up

[2021-05-31 12:45] abidibo commented on #161
Yes I know, I'm working on it, but what about the export page, does it look ok?

[2021-05-31 12:47] MathiasKowoll commented on #161
It looks ok, thanks for your effort.

[2021-05-31 15:35] abidibo commented on #164
Hi @shashitechno ,

actually I cannot reproduce the problem. The `base.css` file

![Screenshot from 2021-05-31 17-30-46](https://user-images.githubusercontent.com/444093/120215487-161db400-c236-11eb-92c9-ce52c58db661.png)

is overridden by Baton, and includes nothing (in current Baton 2.1.5) or some variable definitions (develop branch). If the default Django base CSS is loaded instead, it should

[2021-05-31 15:37] abidibo commented on #164
@jeanwainer
can you try the develop branch? It seems to work just well for me with `Django==3.2.3`

[2021-05-31 15:38] abidibo commented on #161
@MathiasKowoll

develop branch should be fine now

[2021-05-31 15:49] shashitechno commented on #164
I figured it out it - base.css was overided via assets folder.

This can be closed

[2021-05-31 16:39] MathiasKowoll commented on #161
@abidibo forms looks ok, import-export button show ok. dropdown show not ok. but better than before
<img width="1390" alt="Screen Shot 2021-05-31 at 12 39 29" src="https://user-images.githubusercontent.com/15032652/120222001-4bfa7280-c20d-11eb-8d96-36b2eab90c6c.png">

[2021-05-31 16:44] abidibo commented on #164
@jeanwainer ,

the develop branch should not work well with Django 3.2, can you give it a try?

[2021-05-31 16:45] abidibo commented on #161
Browser?

This is what I see

![Screenshot from 2021-05-31 18-44-14](https://user-images.githubusercontent.com/444093/120222484-4c603100-c240-11eb-8316-253befc46217.png)

[2021-05-31 16:48] MathiasKowoll commented on #161
Safari.

edge chrome and firefox looks ok

[2021-05-31 16:52] abidibo commented on #161
Ok, I suppose you see all dropdown the same way, or not?

[2021-05-31 16:56] abidibo commented on #157
@etanter  I implemented it in develop branch

[2021-05-31 16:58] MathiasKowoll commented on #161
This is the only one because I use Django-autocomplete-light for all my dropdowns. Just made a quick test and all default dropdowns without dal looks like the screenshot I took.

[2021-05-31 17:07] abidibo commented on #161
Ok, I forgot to add again postcss loader, now should work

[2021-05-31 17:47] MathiasKowoll commented on #161
Now It works, great job thanks @abidibo

[2021-05-31 17:49] MathiasKowoll commented on #164
I used with develop with Django 3.2 and no issues.

[2021-05-31 22:29] jeanwainer commented on #164
using develop branch and django 3.2.3 it still doesnt work for me. The left menu goes away.
I get this on console:
`Failed to load resource: the server responded with a status of 404 (Not Found): http://127.0.0.1:8000/baton/app-list-json/`

[2021-06-01 07:22] abidibo commented on #164
@jeanwainer that's really strange. And the same installation works with django < 3.2.x? It seems like a missing URL entry for me

[2021-06-01 12:50] etanter commented on #157
@abidibo this works great!

one question: how would you suggest I deal with buttons that perform some action through a view and should then remain on the same tab?
what I'm doing now is adding the hash of the tab:
[code]
but of course this now means that pressing the back button first reloads the change form without the tab hash.

thanks!

[2021-06-01 13:23] etanter opened #168 "Baton version attribute"
for testing/dev purposes it would be very helpful if there were a `Baton.version` attribute so that one could easily check in a console which exact version of baton is loaded.

[2021-06-01 13:23] etanter commented on #157
hmm, I can't get it to work. I installed (via pip) the current develop branch, and is trying in an incognito window in order to make sure I don't get betrayed by the cache, but I still see the same behavior: after saving the tab hash is in the url, so the back button rolls back through tabs in which I saved.
(as for making sure I'm indeed using the latest develop version, see issue #168)

[2021-06-01 14:10] abidibo commented on #157
@etanter that's correct behavior, actually you've visited all that pages, and those pages stay in the history stack. I understand what you're saying but I fear what you mean is not possible. I won't use the `deleteUrl` API also because is not supported in Safari. The only thing I could do was to avoid creating a new history item when moving around tabs.
Imagine you start from a news changelist pag

[2021-06-01 14:58] abidibo commented on #168
Added Baton revision
![Screenshot from 2021-06-01 16-56-23](https://user-images.githubusercontent.com/444093/120345160-85f57280-c2fa-11eb-9149-bfa99ee11531.png)

[2021-06-01 15:02] abidibo commented on #38
I'm closing this since I don't think we'll implement it

[2021-06-01 15:02] #38 closed

[2021-06-01 15:43] etanter commented on #157
I see, breaking compatibility with Safari is indeed not a good idea. Well, anyway, you're right that having browsing not affecting the history is probably good enough.
Thanks again!

[2021-06-01 15:43] #157 closed

[2021-06-01 15:47] etanter commented on #168
Thanks @abidibo

[2021-06-01 15:47] #168 closed

[2021-06-03 15:20] AliPolat opened #170 "Multiple choice list filter"
Hi everybody,

it would be nice to integrate the multiple choice list filter class (https://github.com/ctxis/django-admin-multiple-choice-list-filter) to the baton list filter class set.

Thank You.

[2021-06-04 16:17] tswicegood opened #171 "Allowing user-specified configuration values"
I was working with a personal fork of django-baton and I wanted to turn off Gravatar support. It's easy enough to just remove the JavaScript, but that would be harder to maintain long term than making Gravatar support optional and getting that contributed back upstream. I have a rough working copy that would allow for:

[code]

In doing this, though, I came across the need to modify `baton.templat

[2021-06-06 09:54] sayga231 opened #174 "Multifile upload"
Any way to transform an Inline of "Files" into a multi file uploader or something like it?

[2021-06-07 09:43] abidibo commented on #174
Hi @sayga231 ,
no, at the moment Baton does not provide such functionality, maybe using some third party apps

[2021-06-07 10:10] abidibo commented on #164
@jeanwainer any news on this one? If not, I'm going to close it

[2021-06-07 13:47] jeanwainer commented on #164
Hey @abidibo. Yes, the same installation works when I downgrade django to any version below 3.2.

[2021-06-08 03:38] sayga231 commented on #174
Do you know any third party app that allows easy integration?

[2021-06-10 15:11] abidibo commented on #171
I don't know.
I get the point of avoiding somehow repeat all the configuration items. But at the same time, that template tag acts as a whitelist for the properties that are passed to the js Baton instance. And it's also a single point where you can see clearly which variables are passed. It filters out weird stuff being set in the config, as not JSON convertible entities and so on.

Let's see wha

[2021-06-10 15:13] abidibo commented on #174
Nope

[2021-06-11 11:46] #174 closed

[2021-06-16 12:15] #133 closed

[2021-06-16 12:15] #161 closed

[2021-06-16 12:15] #167 closed

[2021-06-16 12:18] abidibo commented on #164
I cannot reproduce this bug. Can you set up a repo which reproduces the issue?

[2021-06-17 02:54] MathiasKowoll commented on #171
I think it is a good Idea so we can get more customization

[2021-06-17 02:56] MathiasKowoll commented on #164
I'm also with Django 3.2.4 without any issues.

[2021-06-29 12:35] abidibo commented on #171
@MathiasKowoll,
actually, the level of customization remains the same, because you must implement the functionality clientside in the npm app.
What you get, is to save a line that you need to add in the templatetag.

[2021-06-29 12:36] abidibo commented on #170
We're considering this, we need to make sure it can play well with the `CHANGELIST_FILTERS_FORM` option

[2021-07-02 16:01] martn opened #181 "Static files are not collected"
Hi all,

I have problems with both master and develop version of Baton and Django 3.2.5

When running collectstatic it fails to overwrite static files:

`Found another file with the destination path 'admin/css/base.css'. It will be ignored since only the first encountered file is collected. If this is not what you want, make sure every static file has a unique path.
Found another file with the des

[2021-07-02 18:44] abidibo commented on #181
Hi @martn ,
have you declared baton before django.contrib.admin in your INSTALLED_APPS?

[2021-07-04 20:43] martn commented on #181
Hi @abidibo,

oh I haven't. Putting it before django.contrib.admin solved my problem..
Thanks a lot!!
Martin

[2021-07-04 20:43] #181 closed

[2021-07-30 20:58] fsecada01 opened #182 "Sidenav Not Loading; 404 error from localhost:8000/baton/app-list-json"
So I'm not sure why this is happening, as the URL routing seems to be pretty straightforward.  But in a nutshell, if I'm using the admin panel as a client-facing application, the side nav will not load.

[code]

In the browser Developer Console, this produces a 404 XHR response from the Django Server.  Accessing `http://localhost:8000/baton/app-list-json` with debug set to True produces the Django

[2021-08-02 15:58] abidibo opened #183 "Analytics broken by gapi change"
[code]

[2021-08-02 16:01] abidibo commented on #183
This is not the first time this happens. It seems that now all the ext module was removed and just populated when a custom component is declared.
We'll remove the active users information.

[2021-08-03 06:55] abidibo commented on #182
Hi @fsecada01 ,

sorry for the late reply.

What if you invert the path rules:

[code]

Does it work this way?

[2021-08-03 07:00] #183 closed

[2021-08-03 12:41] abidibo commented on #164
I'm closing this because of lack of activity and no repo provided which reproduces the issue, an issue that I cannot replicate.
Feel free to re-open in case you provide more info.

[2021-08-03 12:41] #164 closed

[2021-08-04 15:02] MathiasKowoll opened #185 "Access, specific custom url"
Hi @abidibo

Is it possible to access a specific custom url without using free type?

[2021-08-04 15:05] abidibo commented on #185
@MathiasKowoll ,

no, at the moment the only way to specify custom URLs is to use a free type

[2021-08-04 15:18] qari opened #186 "about baton_cl_rows_attributes"
For set some class I can use baton_cl_rows_attributes but in the class I have to iterate all data in cl.queryset.filter(). How can iterate only data which showed for me on the page? I don't want to iterate all 1M rows

[2021-08-04 15:23] MathiasKowoll commented on #185
The problem I'm facing is with django-tenants, as they do now work with subfolder tenants it needs to change the requested url for the tenant and with custom url I can't.

This with model and apps works flawsly

Hope it can be implemented as this is a good way to create custom tenant base apps.

[2021-08-04 15:26] abidibo commented on #185
@MathiasKowoll ,
please write down an example with some code of what you need with an user perspective solution, and we'll see if we can add such functionality (but not before some holidays :))

[2021-08-04 15:30] MathiasKowoll commented on #185
@abidibo will write a custom example and will let you know.
I also have another issue with login son maybe you will be able to see this too.
Will create a full example for this.

[2021-08-04 16:48] qari commented on #186
cl.result_list

[2021-08-04 16:48] #186 closed

[2021-08-13 21:27] MathiasKowoll commented on #185
@abidibo, still preparing the repo I didn't have much time but I fix some of my problems using:
Baton.detectPageHook = fn => /login/.test(location.pathname) ? 'login' : fn()

but my javascript and jquery knowledge is very minimal. how can I add  a second condition and then otherwhise like a case for: /logout/.test(location.pathname)

Thx in advance

[2021-08-14 03:41] MathiasKowoll commented on #185
Resolved adding
Baton.detectPageHook = fn => /login/.test(location.pathname) ? 'login' : /logout/.test(location.pathname) ? 'logout' : fn()
to button initialization of button, this way solved my login logout issues not working correctly on Django-Tenants when using subfolder approach

[2021-09-09 21:53] EricPobot opened #189 "image preview not working when the URL contains a query string"
Depending on the configuration of the S3 bucket, the URL pointing to its resources can contain query parameters (for bucket access authentication IIRC).

Such URLs defeat the resource type checking done in the `lazyLoadImages` function, defined in `baton/app/src/core/ChangeForm.js` to detect if it refers to an image or not. The check is done on line 114 by testing the file name extension against t

[2021-09-13 11:01] abidibo commented on #189
Ok that's true, I'll fix it soon.

Thanks

[2021-09-21 15:28] abidibo commented on #185
I'm closing this for now, feel free to re-open it when needed

[2021-09-21 15:28] #185 closed

[2021-09-21 15:29] abidibo commented on #182
Closing for no activity

[2021-09-21 15:29] #182 closed

[2021-09-21 15:37] #189 closed

[2021-09-28 16:34] MathiasKowoll commented on #185
@abidibo Hi, I manage to use all custom url with the application Django-tenants, will create a new issue for custom url's in settings.

Thx for all the support.

[2021-09-28 16:42] MathiasKowoll opened #193 "Custom URL in settings."
Hi, I thinks that more than a bug it is a feature.

I use case is the following.

I write custom url for some specific usage like payment and therefore I overwrite some methods in the admin.

I define the following

def get_urls(self):
        urls = super().get_urls()
        my_urls = [
            path('my_url/<int:value>/', self.admin_site.admin_view(self.create_sale_process), name='my_url'),

[2021-09-30 09:40] abidibo commented on #193
I'm not sure I understood the use case here. But the settings are static at the moment. In any case, if what you need is a dynamic menu, as per https://github.com/otto-torino/django-baton/issues/105, you can override the `get_menu` method of the `GetAppListJsonView`, see https://github.com/otto-torino/django-baton/blob/8ae3b2ea1b875cf38031ee4a58a88e9478447193/baton/views.py#L39

[2021-11-02 12:20] guglielmo opened #195 "Static urls not working with StaticRootS3Boto3Storage"
When using `StaticRootS3Boto3Storage` as `STATIC_STORAGE`,
the fonts in the static files are not correctly pointed to the aws storage links (a bucket on S3).

The javascript application assumes that the links are in the `/static` directory on the web server, and both javascript and fonts are not loaded correctly. The `baton.min.js` file contains such links.

By modifying the `baton/static/baton/ap

[2021-11-03 09:24] guglielmo commented on #195
I've managed to somehow solve this with a backend redirect.

All requests going to `static/` are redirected to the S3 url, (with CORS policies enabled).

[2021-12-20 20:53] brocasm opened #197 "django-baton not usable with django 4.0"
i can't use django-baton with django v4.0
Some deprecated and removeved code functions

[2021-12-21 13:32] abidibo commented on #197
Hi @brocasm ,

yeah, the current official release it's still not compatible. Btw you can install the dev branch, which supports Django 4.0.

I've to wait a bit before merging because I've got a lot of tests that depend on third party packages that still does not support Django 4.0. Also the included testapp suffer from the same problem. I'll wait a bit and then if the problem persist I'll drop the

[2021-12-25 21:48] Lenni opened #198 "Font urls are not STATIC_URL dependent"
Even if STATIC_URL is set to e.g. "static_deploy", the template tries to access them them from "static"
![image](https://user-images.githubusercontent.com/6625244/147394103-32df623b-5d9e-4702-a245-494f6e277aca.png)

[2021-12-28 08:34] abidibo commented on #198
Hi @Lenni ,
this is a known limitation, at least without recompiling the js app. The fact is that these paths are needed before runtime, when compiling the application, see https://github.com/otto-torino/django-baton/issues/81#issuecomment-661899608

[2022-01-10 15:51] #198 closed

[2022-01-14 15:07] abidibo commented on #197
An update on this one, I'm still waiting django-filer to become compatible with Django 4

[2022-02-01 19:47] agalazis opened #203 "Select all option not visible in django 3.2"
See #202

[2022-02-04 19:20] MathiasKowoll commented on #197
Hi @abidibo any updates, Im not pushing in any way but somehow I'm kinda desperate to try Django 4 ;)

[2022-03-22 11:13] abidibo commented on #203
Merged

[2022-03-22 11:13] #203 closed

[2022-03-22 11:14] abidibo commented on #197
Hi @MathiasKowoll, @brocasm I finally decided to drop the dev/test dependency on django-filer. I've just released Baton 2.3.0 which adds support to Django 4.0.

[2022-03-22 11:14] #197 closed

[2022-03-22 11:15] #36 closed

[2022-04-27 22:18] etanter opened #215 "modals for change forms"
Hi,

I've seen the new modal feature and I'm hoping to use this as an alternative to popups and extra navigation whenever a user needs to add or edit a "small" model from another one. (For instance, adding a new City when editing a Person, it would be nicer with a modal than with a popup).

Using the `url` attribute (eg. `app/city/1/`) is not helpful because it's the full blown page that gets into

[2022-05-12 13:14] jhoonb opened #217 "input field size"
how to increase input field size?
![gith](https://user-images.githubusercontent.com/4448705/168082880-94dccfc3-ab30-4dc2-baa4-e82118d2b79b.png)

[2022-05-12 13:22] abidibo commented on #217
Hi @jhoonb ,

it can be drawbacks, but if you need to you can:

- change some styles and recompile the app (https://github.com/otto-torino/django-baton#customization)
- force a flex grow:
[code]
- increase the min width:
[code]

[2022-05-20 13:39] #217 closed

[2022-05-28 15:56] c-vision opened #218 "windows 10 and Django 4.0.4 installation"
Hi,
I always get this error

ERROR: Could not install packages due to an OSError: [Errno 22] Invalid argument: 'G:\\Sources\\Django\\auth\\dashboards\\Baton\\example\\django4.0.4\\Lib\\site-packages\\baton\\static\\baton\\app\\src\\fonts\\Dosis-VariableFont:wght.ttf'

[2022-06-13 14:17] abidibo commented on #218
Hi @c-vision unfortunately I don't have a window working environment to test and try to reproduce this bug. I guess people could install it in windows, maybe some other user have some hints.

[2022-06-16 16:30] Rosuav commented on #182
I know this is a closed issue, but we encountered the same problem while upgrading Django from 3.1 to 3.2. The suggested fix of putting the baton/ paths ahead of the empty-string admin paths restored the sidebar.

[2022-07-11 15:42] mrfoggg opened #220 "how to include JS libraries for use on admin pages"
how to include JS libraries for use on admin pages

[2022-07-14 14:57] abidibo commented on #195
Great!

[2022-07-14 14:57] #195 closed

[2022-08-02 13:16] morlandi opened #222 "JS error in demo site"
Nice job 👏

Just wanted to let you know what happens on the demo site (see below).
Verified with Chrome and Safari.
And yes, I did clear the browser cache 😉

<img width="1484" alt="Screenshot 2022-08-02 at 15 12 22" src="https://user-images.githubusercontent.com/299854/182383644-ffbecbbd-d992-4ae9-8e57-860acbdc394f.png">

[2022-08-02 14:21] abidibo commented on #222
Thanks, now it's fixed

[2022-08-02 14:21] #222 closed

[2022-08-14 11:41] mrfoggg opened #225 ""save and continue editing" button does not work correctly."
In the current version 2.4.1, the "save and continue editing" button does not work correctly.
After saving, it displays a list of objects and not a form for editing the current object.
Version 2.3.0 did not have this problem.

[2022-08-14 19:41] #225 closed

[2022-08-14 19:41] mrfoggg commented on #225
my issue. sorry

[2022-09-27 12:49] #220 closed

[2022-09-27 12:50] #215 closed

[2022-09-27 12:51] #193 closed

[2022-11-08 09:00] #171 closed

[2022-11-08 10:11] #163 closed

[2022-11-08 10:54] abidibo commented on #170
Added to 2.6.0

[2022-11-08 10:54] #170 closed

[2022-11-08 11:06] abidibo opened #230 "Add debounce to search field functionality"